* {
	box-sizing: border-box;
}
/*html, body {
	height: 100%;
}*/
.block {
	width: 40%;
	background-color: #f8f8f8;
	margin: 0 auto;
}
.block1 {
	width: 100%;
	background-color: #f8f8f8;
	padding: 50px 60px;
}
.input {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	font-size: 15px;
	color: #a7a7a7;
	padding: 15px 20px;
	outline: none;
	position: relative;
	z-index: 1;
}
.input::after {
	content: '';
	position: absolute;
	right: 20px;
	top: 20px;
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 7px;
}

.selectblock {
	display: none;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	outline: none;
	position: relative;
	z-index: 2;
	box-shadow: -2px 10px 35px -19px rgba(0,0,0, .9)
}
.selectblock option {
	font-size: 15px;
	padding: 15px 20px;
	cursor: pointer;
}
.selectblock option:hover {
	background-color: #f9f9f9;
}

.hide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

