<<<<<<< HEAD
* {
	box-sizing: border-box;
}
/*html, body {
	height: 100%;
}*/
.block {

}
.block1 {
	width: 700px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -350px;
	background-color: #f8f8f8;
	padding: 50px 60px;
}
.input {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	font-size: 15px;
	color: #a7a7a7;
	padding: 15px 20px;
	outline: none;
	position: relative;
	z-index: 1;
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	background-position: 550px 50%;
}
.input::after {
	content: '';

}

.selectblock {
	display: none;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	outline: none;
	position: relative;
	z-index: 2;
}
.selectblock option {
	font-size: 15px;
	padding: 15px 20px;
	cursor: pointer;
}
.selectblock option:hover {
	background-color: #f9f9f9;
}

.hide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

=======
* {
	box-sizing: border-box;
}
/*html, body {
	height: 100%;
}*/
.block {
	width: 100%;
	background-color: #f8f8f8;
	padding: 50px 60px;
	position: relative;
	width: 550px;
	background-color: #f8f8f8;
	margin: 0 auto;
}
.input {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	font-size: 15px;
	color: #a7a7a7;
	padding: 15px 20px;
	outline: none;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.input::after {
	content: '';
	position: absolute;
	right: 20px;
	top: 20px;
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 7px;
}

.selectblock {
	display: none;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	outline: none;
	position: relative;
	z-index: 2;
	box-shadow: -2px 10px 35px -19px rgba(0,0,0, .9)
}
.selectblock option {
	font-size: 15px;
	padding: 15px 20px;
	cursor: pointer;
}
.selectblock option:hover {
	background-color: #f9f9f9;
}
.selectitem {
	display: none;
	margin-top: 5px;
	background-color: #fff;
	width: 430px;
	height: 200px;
	font-size: 15px;
	overflow: auto;
	position: absolute;
	z-index: 3;
	padding: 0;
	border: 1px solid #e2e2e2;
	box-shadow: -2px 10px 35px -19px rgba(0,0,0, .9)
}

.selectitem li {
	padding: 15px 25px;
	list-style: none;
	cursor: pointer;
}
.selectitem li:hover {
	background-color: #f8f8f8;
}
.active {
	background-color: #f5f5f5;
}
.city {
	padding: 15px 20px;
}
.hide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
>>>>>>> 7dcaa23f4fc4373e8f07e59124c017da54ee67b3
