* {
	box-sizing: border-box;
}
/*html, body {
	height: 100%;
}*/
.block {

}
.block1 {
	width: 700px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -350px;
	background-color: #f8f8f8;
	padding: 50px 60px;
}
.input {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	font-size: 15px;
	color: #a7a7a7;
	padding: 15px 20px;
	outline: none;
	position: relative;
	z-index: 1;
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	background-position: 550px 50%;
}
.input::after {
	content: '';

}

.selectblock {
	display: none;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	outline: none;
	position: relative;
	z-index: 2;
}
.selectblock option {
	font-size: 15px;
	padding: 15px 20px;
	cursor: pointer;
}
.selectblock option:hover {
	background-color: #f9f9f9;
}

.hide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

