$title_color: #062f3c;
$btn_color: #cfc91d;


body, html {
	font-family: 'Roboto', sans-serif;
	color: #7e8287;
	padding: 0;
	margin: 0;
	height: 100%;
}

header {
	background: url(../img/top_bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 889px;
}
.top_line {
	background-position: center center;
	border-bottom: 5px solid #022938;
	position: fixed;
	top:0;
	left: 10%;
	height: 130px;
	width: 80%;
	z-index: 1;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.logo_head {
	background-color: #022938;
	width: 200px;
	height: 200px;
	position: relative;
	border-radius: 50%;
	margin-bottom: -70px;
	margin-top: 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.logo {
	position: absolute;
	background-color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 50px 0px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
	& h1 {
		position: absolute;
		font-weight: 700;
		top: -45px;
	    left: 50px;
	    font-size: 163px;
	    color: #022938;
	}
	& h2 {
		position: absolute;
		top: -60px;
		right: -30px;
		color: #fff;
		font-size: 100px;
	}
	& span {
		color: #fff;
	}
}
#menu {
	padding-top: 35px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;	
	& ul {
		font-size: 18px;
		font-weight: 700;
		& li {
			padding-left: 30px;
			display: inline-block;
			text-transform: uppercase;
			& a {
				color: #022938;
				&:hover {
					text-decoration: none;
				}
				&:active {
					text-decoration: none !important;
				}
			}
		}
	}
}
/* ============ crossing top line ============ */
.top_line.shrink {
	width: 100%;
	top: 0;
	left: 0;
	background-color: #022938;
	height: 80px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.logo_head.shrink {
	height: 0px;
	width: 0px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;	
}
.logo.shrink {
	height: 70px;
	width: 70px;
	margin: -5px 36px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    & h1 {
    	top: -31px;
    	left: 25px;
    	font-size: 75px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
    & h2 {
    	top: -37px;
    	right: -20px;
    	font-size: 60px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
}
#menu.shrink {
	padding-top: 20px;
	& ul{
		& li {
			& a {
				color: #fff;
			}
		}
	}
}


.about_me {
	padding-top: 80px ;
	text-align: center;
	& h1 {
		font-size: 46px;
		color: $title_color;
		font-weight: 800;
		text-transform: uppercase;	
		margin-bottom: 40px;
	}
	& p {
			font-size: 16px;
			font-weight: 400;
			line-height: 41px;
			& span {
				font-weight: 800;
				font-size: 23px;
			}
		}
	& .my_work {
		margin: 50px 25px;
		padding-left: 50px;
		& .work {
			border-right: 1px solid #d9dbdb;
			padding: 20px 0px;
			margin-bottom: 30px;	
			& h3 {
				font-weight: 800;
				font-size: 16px;	
			}
			& p {
				font-weight: 400;
				font-size: 11px;
				line-height: 21px;
			}
			& i {
				color: $title_color;
			}
		}
	}
}
.services{
	background: #f0f0e8;
}

.main_services {
	& h1 {
		font-size: 46px;
		color: $title_color;
		font-weight: 800;
		text-transform: uppercase;	
		margin-bottom: 40px;
	}
}
.service_img {
	background: url(../img/service_img.jpg) no-repeat;
	opacity: .3;
	background-size: cover;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 650px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}