$title_color: #022938;
$btn_color: #cfc91d;


body, html {
	background-color: #fff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #272c2f;
	font-weight: 400;
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
header {
	background: url(../img/top_bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 889px;
}
hr {
	&.hr_star {
	    margin: 25px auto 30px;
	    padding: 0;
	    max-width: 250px;
	    border: 0;
	    border-top: solid 2px;
	    text-align: center;
	    &:after {
	        content: "\f005";
		    display: inline-block;
		    position: relative;
		    top: -.8em;
		    padding: 0 .25em;
		    font-family: FontAwesome;
		    font-size: 1.7em;
		    background-color: #fff;
	    }
	}
	&.hr-star-footer {
	    margin: 25px auto 30px;
	    padding: 0;
	    max-width: 250px;
	    border: 0;
	    border-top: solid 2px #fff;
	    text-align: center;
	    &:after {
	        content: "\f005";
		    display: inline-block;
		    position: relative;
		    top: -.8em;
		    padding: 0 .25em;
		    font-family: FontAwesome;
		    font-size: 2.7em;
		    color: #fff;
		    background-color: $title_color;
	    }
	}	
}


.top_line {
	background: $title_color;
	background-position: center center;
	border-bottom: 5px solid $title_color;
	position: fixed;
	top:0;
	left: 0;
	height: 130px;
	width: 100%;
	z-index: 3;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.logo_head {
	background-color: #022938;
	width: 200px;
	height: 200px;
	position: relative;
	border-radius: 50%;
	margin-bottom: -70px;
	margin-top: 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.logo {
	position: absolute;
	background-color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 50px 0px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
	& h1 {
		position: absolute;
		font-weight: 700;
		top: -45px;
	    left: 50px;
	    font-size: 163px;
	    color: $title_color;
	}
	& h2 {
		position: absolute;
		top: -60px;
		right: -30px;
		color: #fff;
		font-size: 100px;
	}
	& span {
		color: #fff;
	}
}
.menu {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;	
	& ul {
		margin-top: 40px;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		border: none;
		transition: all 0.6s;	
		& li {
			padding-left: 30px;
			display: inline-block;
			text-transform: uppercase;
			padding-right: 20px;
			background: $title_color;
			display: block;
			& a {
				color: #fff;
				&:hover {
					text-decoration: none;
					background: $title_color;
					opacity: .8;
				}
				&:active {
					text-decoration: none;
					background: $title_color;
				}
				&:focus {
					background: $title_color;
				}
			}				
			& i {
					display: none;
					margin: 0 auto;
				}
		}
	}
}
/* ============ crossing top line ============ */
.top_line.shrink {
	background-color: $title_color;
	height: 60px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.logo_head.shrink {
	height: 0px;
	width: 0px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;	
}
.logo.shrink {
	height: 50px;
	width: 50px;
	margin: -5px 36px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    & h1 {
    	top: -27px;
    	left: 20px;
    	font-size: 50px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
    & h2 {
    	top: -30px;
    	right: -14px;
    	font-size: 40px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
}
.menu.shrink {
	& ul{
		margin-top: 3px;
		& li {
			& a {
				color: #fff;
			}
			& i {
				display: block;
				font-size: 24px;
				-webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    transition: all 0.3s;
			}
		}
	}
}

/* ============ crossing top line ============ */
.btn_head {
	position: absolute;
	top: 60%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
	text-align: center;
	vertical-align: middle;
}
.btn {
	display: block;
	margin: 20px auto;
	max-width: 180px;
	border: 2px solid #fff;
	text-transform: uppercase;
	padding: 20px 38px;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	&:hover {
		color: #fff;
	}
	&:active {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}
.about_me {
	padding-top: 80px ;
	text-align: center;
	& h2 {
		font-size: 46px;
		color: $title_color;
		font-weight: 800;
		text-transform: uppercase;	
		margin-bottom: 40px;
	}
	& p {
			font-size: 18px;
			font-weight: 400;
			line-height: 41px;
			margin-bottom: 50px;
			& span {
				font-weight: 800;
				font-size: 23px;
			}
		}
	.my_work {
		margin: 50px 0px;	
	}
	.without-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
	.htmlcss,
	.work_with {
				border-right: 1px solid #d9dbdb;
				padding: 20px 15px;
				margin: 110px auto;
				overflow: hidden;
				min-height: 250px;
				& h3 {
					font-weight: 700;
					font-size: 22px;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				& p {
					font-weight: 400;
					font-size: 16px;
					line-height: 21px;
				}
				& i {
					color: $title_color;
				}	
		}
	.js {
				padding: 20px 15px;
				margin: 110px auto;
				overflow: hidden;
				min-height: 250px;
				& h3 {
					font-weight: 700;
					font-size: 22px;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				& p {
					font-weight: 400;
					font-size: 16px;
					line-height: 21px;
				}
				& i {
					color: $title_color;
				}	
		}

	}
	
.porfolio-header {
	background: url(../img/porfolio_bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 400px;
	padding-top: 160px;
	text-align: center;
	position: relative;
	& h2 {
		font-size: 46px;
		color: #fff;
		font-weight: 800;
		text-transform: uppercase;	
		margin-bottom: 25px;
	}
	& h3 {
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 20px;
		color: #fff;		
	}
}

/* =============== porfolio ==============*/
.portfolio-line {
	background-color: $title_color;
	min-height: 70px;
	width: 100%;
	position: absolute;
	opacity: .8;
}
.portfolio {
	background-color: #f7f7f7;
	padding: 150px 0px;
	margin: 0 auto;
	.portfolio-item {
		margin: 0 0 30px;
    	right: 0;
    	.portfolio-link {
		    display: block;
		    position: relative;
		    max-width: 400px;
		    margin: 0 auto;
		    .portfolio-hover {
                background: fade_in(#022938, 0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
            	}
			.portfolio-hover-content {
                position: absolute;
                width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }    
                }          
			}		
		}
		.portfolio-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background-color: #fff;
        	text-align: center;
        	padding: 25px;
        	h4 {
        		text-transform: none;
        		margin: 0;
        	}
        	p {
        		.serif-font {
        		font-size: 16px;
        		margin: 0;
        	}
        }
    }
    * {
        z-index: 2;
    }
}
}
.portfolio-modal {
	.modal-content {
	    border-radius: 0;
	    background-clip: border-box;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    min-height: 100%;
	    width: 80%;
	    padding: 100px 0;
	    text-align: center;
	    margin: 0 auto;
		h2 {
	    	margin-bottom: 15px;
	    	font-size: 3em;
		}
		p {
			margin-bottom: 30px;
		}
		p.item-intro {
			margin: 20px 0 30px;
			.serif-font {
			font-style: italic;
			font-size: 16px;
			}
		}
		ul.list-inline {
			margin-bottom: 30px;
			margin-top: 0;
		}
		img {
			margin-bottom: 30px;
		}
	}
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color: #222;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color: #222;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
    	opacity: 0;
    	display: none;
    }
}
.img-centered {
    margin: 0 auto;
}
/* =============== porfolio ==============*/

#contact {
	background-color: $title_color;
	padding: 80px 0;
	text-align: center;
	& i {
		color: #fff;
	}

	.social-icons {
		margin-top: 50px;
		a {
			padding: 0px 25px;
		}
		p {
			padding-top: 40px;
			color: #fff;
			font-size: 22px;	
		} 
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu {
		margin-left: 0px;
	}
	.menu.shrink {
		margin-left: 0px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.js {
		border-right: 1px solid #d9dbdb;
	}
	header {
		height: 100vh;
	}
	.menu ul li {
		padding: 0;
	}
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header {
		height: 100vh;
	}
.top_line {
	background-color: $title_color;
	height: 60px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.logo_head {
	height: 0px;
	width: 0px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;	
}
.logo {
	height: 50px;
	width: 50px;
	margin: -5px 36px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    & h1 {
    	top: -27px;
    	left: 20px;
    	font-size: 50px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
    & h2 {
    	top: -30px;
    	right: -14px;
    	font-size: 40px;
	    -webkit-transition: all 0.6s;
	    -moz-transition: all 0.6s;
	    transition: all 0.6s;
    }
}
.menu {
	& ul {
		margin-top: 3px;
	}
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}