#nav-trigger,
.nav-trigger {
  display: none;
  text-align: center; 
}
  #nav-trigger span,
  .nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff0032;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after,
    .nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover,
    .nav-trigger span:hover {
      background-color: #e6002d; }
    #nav-trigger span.open:after,
    .nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

  nav#nav-main ul,
  nav.nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li,
  nav.nav-main li {
    display: inline-block;
    font-size: 18px;
  }
  nav#nav-main a,
  nav.nav-main a {
    display: block;
    color: #434342;
    padding: 10px 30px; }
    nav#nav-main a:hover,
    nav.nav-main a:hover {
      background-color: #e2233a;
      color: #fff;
      text-decoration: none;
    }

nav#nav-mobile,
nav.nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul,
  nav.nav-mobile ul {
    padding: 0;
    z-index: 1;
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ff0032; }
  nav#nav-mobile li,
  nav.nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #cc0028; }
    nav#nav-mobile li:last-child,
    nav.nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a,
  nav.nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; 
  }
    nav#nav-mobile a:hover,
    nav.nav-mobile a:hover {
      background-color: #e6002d;
      color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 992px) {
  #nav-trigger,
  .nav-trigger {
    display: block; }

  nav#nav-main,
  nav.nav-main {
    display: none; }

  nav#nav-mobile,
  nav.nav-mobile {
    display: block; }
}