.get-started
	background-color: #3e444d
	text-align: center
	padding: 0px 0px 49px
	
.start-form
	width: 270px
	margin-right: 125px
	margin-left: auto
	margin-top: 34px
	+r(992)
		margin-right: auto

.form-title
	font-family: $helveticanuen-light
	font-weight: 300
	font-size: 22px
	color: #fff
	margin-bottom: 15px

.form-input
	width: 100%
	color: #9ea1a6
	font-size: 14px
	padding: 12px
	background-color: #fff
	border-radius: 6px
	margin: 7px 0px
	text-align: center

.form-btn
	font-size: 15px
	color: #fff
	font-family: $helveticanuen-bold
	font-weight: 700
	background-color: #8fb324
	padding: 15px 12px
	margin: 11px 0px
	width: 100%
	border-radius: 6px

.form-btn_request
	background-color: #3d91cc

.request-form
	@extend .start-form
	margin-left: 125px
	margin-right: auto
	+r(992)
		margin-left: auto

