.header
	background-image: url("../img/header-bg.jpg")
	background-position: center center
	background-repeat: no-repeat
	min-height: 760px
	position: relative
	&::before 
		content: ''
		position: absolute
		z-index: -1
		left: 0
		top: 0
		background-image: url("../img/header-bg-leftside.png")
		min-height: 760px
		width: 50%
	&::after 
		content: ''
		position: absolute
		z-index: -2
		right: 0
		top: 0
		background-image: url("../img/header-bg-rightside.png")
		min-height: 760px
		width: 50%
	+r(950)
		background-repeat: repeat
		padding-left: 15px
		padding-right: 15px

.navigation 
	padding: 33px 0px

.navigation__logo img 
	margin-left: 3px

.navigation__list-item
	float: left
	a 
		float: left
		font-size: 15px
		font-weight: 400
		color: #fff
		text-decoration: none
		font-family: 'HelveticaNeun', sans-serif
		padding: 6px 20px
		opacity: .6

.navigation__list-item_second
	@extend .navigation__list-item
	a
		color: #424f58
		opacity: 1
		&:hover 
			text-decoration: underline
			color: #4d8fbf

.action-buttons__login	
	display: inline-block
	color: #fff
	text-decoration: none
	font-size: 14px
	border: 2px solid #537cb2
	padding: 6px 30px
	border-radius: 30px
	font-family: $helveticanuen-mid
	font-weight: 400
	margin-right: 5px
	transition: all .5s
	&:hover
		background-color: #fff
		color: #4d8fbf
		border: 2px solid #fff

.action-buttons__signup
	@extend .action-buttons__login
	border: none
	background-color: #8fb324
	padding: 8px 24px
	margin-right: 0
	&:hover
		background-color: #56ae00
		color: #fff
		border: none

.header__middle
	display: inline-block
	text-align: center
	height: 587px
	width: 100%
	+r(950)
		height: 420px

.header__middle-align
	margin-top: 171px
	+r(950)
		margin-top: 20px

.header__middle-title
	color: #fff
	font-size: 56px
	font-family: $omnes-light
	font-weight: 300
	letter-spacing: -1.5px
	+r(768)
		font-size: 40px

.header__middle-descr
	color: #cce5ff
	font-size: 20px
	font-family: $helveticanuen-mid
	font-weight: 400
	margin-top: 6px
	letter-spacing: -0.7px
	+r(768)
		font-size: 16px

.header__middle-btn
	display: inline-block
	border: 2px solid #fff
	color: #fff
	text-decoration: none
	background-color: transparent
	font-size: 18px
	font-family: $helveticanuen-mid
	font-weight: 500
	padding: 9px 51px
	margin-top: 53px
	border-radius: 30px
	transition: all .5s
	&:hover
		background-color: #fff
		color: #5f8ec2;

.header__bottom-orgranizations-descr
	font-family: 'HelveticaNeunMedium', sans-serif
	font-weight: 400
	font-size: 13px
	text-align: center
	color: #baddff

.header__bottom-orgranizations
	text-align: center
	margin-top: 15px

.header__bottom-orgranizations-image
	opacity: .6
	transition: opacity .5s
	margin: 0px 11px
	display: inline-block
	&:hover
		opacity: 1
	&:first-child
		margin-left: 0px
	&:last-child
		margin-right: 0px


.second-navigation
	border-bottom: 1px solid #e5e5e5
	background-color: #fff
	&.second-navigation_fixed
		position: fixed
		top: 0
		left: 0
		z-index: 200
		width: 100%

.navigation_second
	padding-top: 13px
	padding-bottom: 45px
	+r(950)
		padding-bottom: 0
	

.action-buttons__login_second
	color: #4d8fbf
	&:hover 
		background-color: #4d8fbf
		border: 2px solid #4d8fbf
		color: #fff


.navigation__btn 
	height: 20px
	width: 25px
	background-color: transparent
	position: relative
	z-index: 100
	top: 5px
	right: 0
	display: none
	+r(950)
		display: block
	&::before 
		content: ''
		position: absolute
		top: 0px
		left: 0
		height: 3px
		width: 100%
		background-color: #338de9
	&::after
		content: ''
		position: absolute
		top: 16px
		left: 0
		height: 3px
		width: 100%
		background-color: #338de9

.navigation__btn span
	background-color: #338de9
	height: 3px
	width: 100%
	display: block
	position: absolute
	top: 8px
	left: 0

.navigation__btn_top
	span
		background-color: #fff
	&::before
		background-color: #fff
	&::after
		background-color: #fff

.toogle-navigation__close
	width: 25px
	height: 20px
	position: absolute
	top: 20px
	right: 38px
	&::before
		content: ''
		display: block
		width: 100%
		height: 3px
		background-color: #338de9
		transform: rotate(45deg)
		position: absolute
		left: 0px
		top: 9px
		transition: all .5s

	&::after
		content: ''
		display: block
		width: 100%
		height: 3px
		background-color: #338de9
		position: absolute
		left: 0px
		top: 9px
		transform: rotate(-45deg);
		transition: all .5s



.toogle-navigation
	position: fixed
	top: -100%
	bottom: 0
	right: 0
	left: 0
	z-index: 300
	width: 100%
	height: 100%
	background-color: #fff
	padding: 50px 20px
	text-align: center
	overflow-x: auto
	transition: all 1s
	&.toogle-navigation__active
		top: 0px

.toogle-navigation__logo
	margin-bottom: 20px

.toggle-navigation__item
	color: #424f58
	text-decoration: none
	font-size: 20px
	font-family: $helveticanuen-mid
	font-weight: 500
	padding: 10px 0px
	display: block

.toogle-navigation .action-buttons
	display: block
	width: 100%
	margin-top: 35px

