.helped-events

    background-color: #7369ae
    text-align: center
    padding: 35px 0px 48px
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjYzVlM2VmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1NjY5YWUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzhmNjhhZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48c3RvcCBzdG9wLWNvbG9yPSIjOGVkNGYxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=)
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(197, 227, 239)),color-stop(0, rgb(86, 105, 174)),color-stop(1, rgb(143, 104, 174)),color-stop(1, rgb(142, 212, 241)))
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,rgb(197, 227, 239) 0%,rgb(86, 105, 174) 0%,rgb(143, 104, 174) 100%,rgb(142, 212, 241) 100%)
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,rgb(197, 227, 239) 0%,rgb(86, 105, 174) 0%,rgb(143, 104, 174) 100%,rgb(142, 212, 241) 100%)
    background-image: -ms-repeating-linear-gradient(left,rgb(197, 227, 239) 0%,rgb(86, 105, 174) 0%,rgb(143, 104, 174) 100%,rgb(142, 212, 241) 100%)


.helped-events__title
	font-family: $omnes-light
	font-weight: 300
	font-size: 34px
	color: #fff
	width: 90%
	margin: 0 auto
	line-height: 43px

.helped-events__item-title
	font-family: $helveticanuen-bold
	font-size: 16px
	color: #fff
	font-weight: 700

.helped-events__item-descr
	font-family: $helveticanuen
	font-size: 13px
	color: #d9d3ff
	margin: 0 auto
	margin-top: 10px
	width: 80%


