.our-clients
	background-color: #f4f9fd
	padding: 45px 0px 50px
	text-align: center

.our-clients__title
	font-family: $omnes-light
	font-size: 42px
	color: #3d90cc
	letter-spacing: -0.9px
	font-weight: 300

.our-clients__descr	
	font-family: $helveticanuen-light
	color: #36434c
	font-size: 18px
	margin-top: 9px
	letter-spacing: -0.4px

.our-clients__wrap
	padding: 25px

.our-clients__item
	background-color: #fff
	border: 1px solid #dae8f2
	border-radius: 30px
	height: 210px
	overflow: hidden

.our-clients__item-logo
	font-size: 42px
	position: absolute
	left: 50%
	top: 21%
	transform: translate(-50%)
	height: 60px
	img 
		vertical-align: bottom


.our-clients__item-count
	font-size: 32px
	font-family: $helveticanuen-thin
	color: #565656
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%)

.our-clients__item-descr
	font-size: 13px
	font-family: $helveticanuen-mid
	color: #8a9399
	position: absolute
	top: 71%
	left: 50%
	transform: translate(-50%)

// svg collection

.our-clients__item-icons svg
	stroke: #dae8f2
	stroke-width: 2px
	fill: transparent
	position: absolute

.actrazeneca-percent svg
	font-size: 38px
	top: 8px
	left: 74px

.actrazeneca-clock svg
	font-size: 60px
	bottom: 28px
	left: -6px

.actrazeneca-graph svg
	font-size: 45px
	top: 91px
	right: -8px

.google-man svg
	font-size: 40px
	bottom: 30px
	left: -5px

.google-phone svg
	font-size: 59px
	top: -25px
	left: 50%
	transform: translate(-50%)

.google-secondman svg
	font-size: 78px
	bottom: 40px
	right: -29px

.philips-illustr svg
	font-size: 55px
	top: -12px
	left: 55%
	transform: translate(-50%)

.philips-camera svg
	font-size: 40px
	bottom: 58px
	left: -3px

.philips-illustrsecond svg
	font-size: 72px
	bottom: 19px
	right: -15px

.bloomberg-fly svg
	font-size: 45px
	top: 10px
	right: 60px
	transform: rotateY(180deg)

.bloomberg-mail svg
	font-size: 54px
	left: -7px
	bottom: 45px

.bloomberg-chat svg
	font-size: 80px
	bottom: 7px
	right: -40px

.autodesk-mail svg
	font-size: 45px
	left: 40%
	top: -8px
	transform: translate(-50%)

.autodesk-heart svg
	font-size: 65px
	bottom: 25px
	left: -8px

.autodesk-message svg
	font-size: 43px
	right: -14px
	bottom: 60px

.philips-mail svg
	font-size: 40px
	top: 10px
	right: 25%
	transform: translate(-50%)

.philips-bigmail svg
	font-size: 60px
	bottom: 63px
	left: -23px

.philips-openmail svg
	font-size: 30px
	right: -10px
	bottom: 30px

