.performance
    background-color: #597eb3
    padding: 44px 0px 50px
    text-align: center
    background-image: repeating-linear-gradient(to right,rgb(89, 147, 178) 0%,rgb(89, 105, 179) 100%)

.performance
    +r(580)
        padding-left: 15px
        padding-right: 15px

.performance__list
    margin-top: 35px
    
    .performance__list-case

        .performance__list-case-wrap
            border: 1px solid #5477aa
            border-radius: 15px
            padding: 18px 0px 12px
            &:hover
                border: 1px solid #4c7999

        .performance__list-case-image
            height: 54px

        .performance__list-case-descr
            color: #fff
            font-family: $helveticanuen-mid
            font-size: 13px
            margin-top: 9px


