.pricing
	background-color: #3e444d
	padding: 50px 0px
	text-align: center
	+r(950)
		padding-left: 15px
		padding-right: 15px

.select-price
	margin-top: 57px
	
	&__item-title
		font-family: $omnes-regular
		font-size: 24px
		font-weight: 400
		border-radius: 5px 0px 0px 0px
		color: #fff
		padding: 12px 0px 6px

	&__item-descr
		color: #565656
		font-size: 16px
		font-family: $helveticanuen-light
		font-weight: 300
		padding: 24px 19px 17px

	&__item-title_blue
		background-color: #5769ae
		border-right: 1px solid #4e5e9c
		+ .select-price__item-descr
			border-right: 1px solid #e5e5e5
		+r(678)
			border-radius: 0


	&__item-title_purple
		background-color: #7068ae
		margin-top: -10px
		padding: 11px 0px
		font-size: 28px
		border-radius: 5px 5px 0px 0px
		+r(678)
			border-radius: 0	

	&__item-title_pink
		background-color: #8f68ae
		border-left: 1px solid #4e5e9c
		border-radius: 0px 5px 0px 0px
		+ .select-price__item-descr
			border-left: 1px solid #e5e5e5
		+r(678)
			border-radius: 0

	&__item-count
		font-size: 32px
		font-family: $helveticanuen-bold
		font-weight: 700
		margin-top: 20px
		color: #565656

	&__item-dollar
		position: relative
		top: -13px
		right: 1px
		font-size: 18px
		font-family: $helveticanuen
		font-weight: 400

	&__item-month
		font-size: 16px
		font-family: $helveticanuen
		font-weight: 400

	&__item-descr_big
		padding: 24px 19px 3px

	&__item-count_big
		font-size: 42px
		position: relative
		top: -6px

	&__item-dollar_big
		font-size: 24px