body
  background: #FFF
  font-size: 16px
  line-height: 1.4


.container 
	max-width: 950px;
	margin: 0 auto 

.container:before,
.container:after
    content: ""
    display: table

.container:after 
    clear: both

.icon-png
	display: inline-block