body
  font-size: 16px
  line-height: 1.4
  background-color: #155da9
  font-family: 'Open Sans', sans-serif
  &.no-active-scroll
  	overflow: hidden

.container
    max-width: 1040px
    padding: 0 20px
    margin: 0 auto
    +clr

.step-two__container
	max-width: 1415px
	margin: 0 auto
	padding: 0

+font(UniSans, UniSansHeavyCAPS)