.header__logo
	width: 50%
	float: left

.nav
	width: 50%
	float: left

.stiky-nav__tagline
	width: 20%
	float: left

.nav_stiky
	width: 40%
	float: right

.shares__text
	width: 63%
	float: left
	padding-right: 30px

.shares__cup
	width: 37%
	float: left

.vote__list-item
	width: 30.6%
	float: left
	&:nth-child(even)
		margin-right: 40px
		margin-left: 40px

.step-one__item_astana
	width: 47.5%
	float: left
	margin-right: 20px

.step-one__item_almatu
	width: 47.9%
	float: left
	margin-left: 20px

.step-two__list-item
	width: 185px
	float: left
	background-color: #0071be
	position: relative
	min-height: 261px
	border-radius: 10px
	margin: 0 10px 40px
	&:nth-child(7n+1)
		margin-left: 0px
	&:nth-child(7n+7)
		margin-right: 0px

.footer__item
	width: 70%
	margin: 0 auto
