//bg
$blue-bg: #05aecc;
$pink-bg: #f0626e;
$black-bg: #3c3c3c;
//text colors
$text-black42: #424242;
$text-black43: #434343;
$text-black45: #454545;
$text-black46: #464646;
$text-pink: #ef5966;
$title: #00a1be;
@font-face {
	font-family: "Aparajita";
	src: url(fonts/aparaj.ttf);
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	letter-spacing: .9px;
}
.logo {
	margin-top: 20px;
	padding-left: 20px;
}
.menu-top {
	& ul {
		list-style: none;
		& li {
			display: inline-block;
			padding-left: 25px;
			padding-top: 5px;
			& a {
				color: $text-black43;
			}
		}
	}
}
.navbar-default {
	background: #fff;
	border-color: #fff;
}
.top-blocks {
	margin-left: 1px;
	background: #f6f6f6;
	text-align: right;
	.blue-block {
		position: relative;
		background: $blue-bg;
		padding: 33px 28px;
		display: inline-block;
	}
	.pink-block {
		position: relative;
		background: $pink-bg;
		padding: 33px 28px;
		display: inline-block;
	}
	& a {
		color: #fff;
		&:hover,
		&:active,
		&:visited,
		&:focus {
			text-decoration: none;
		}
	}
	& img {
		padding-left: 10px;
		position: absolute;
	}
}
.blue-default {
	display: inline-block;
	position: relative;
	padding: 33px 55px 33px 28px;
	background: $blue-bg;
}
.pink-default {
	display: inline-block;
	position: relative;
	padding: 33px 55px 33px 28px;
	background: $pink-bg;
}
.nav-main {
	margin-top: 10px;
	background: $blue-bg;
	text-align: center;
	& ul {
		padding: 0;
		margin: 0;
		border: none;
		& li {
			display: inline-block;
			&:hover {
				background: #fff;
			}
			& a {
				padding: 25px;
				display: block;
				color: #fff;
				height: 100%;
				width: 100%;
				&:hover {
					color: $text-pink;
					text-decoration: none;
				}
				&:focus {
					color: $text-pink;
					text-decoration: none;
					background: #fff;
				}
				&:active 
				&:visited {
					text-decoration: none;
				}
			}
			& li {
				border: none;
				& a {
					color: $text-pink;
					padding: 0;
					font-size: 16px;
					padding-bottom: 5px;
				}
				& p {
					color: $text-black45;
					font-size: 14px;
					line-height: .9;
					letter-spacing: 0;
					padding: 25px 20px;
					margin: 0;				
				}
				& img {
					text-align: left;
					padding-right: 10px;
				}
				& button {
					margin-top: 11px;
					font-size: 14px;
				}
				& hr {
					background: #cacaca center center;
					margin: 0;
				}
				&:last-child {
					padding: 10px 20px;
					display: block;
					& a:hover {
						background: #fff;
					}
				}
			}
		}
		& ul {
		margin-top: 2px;
		}
	}

}
.dropdown-menu {
	min-width: 260px;
	padding: 25px;
	background: rgba(255,255,255, .9);
}
.btn-more {
	background: $blue-bg;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: 5px 25px;
	text-align: center;
	border: none;
}
.banners {
	margin-top: 15px;
}
.men,
.women,
.baby,
.crafts,
.jewelry {
	background: #142251;
	position: relative;
	overflow:hidden;
	& img {
		transition: all 1s ease-out;
	}
	& img:hover {
		transform: scale(1.1);
		opacity: .5;
	}
}
.baby,
.crafts,
.jewelry {
	margin-top: 5px;
}
.text-block {
	text-align: left;
	position: absolute;
	bottom: 45px;
	left: 0;
	background: rgba(54,42,79,.8);
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding: 15px 28px;
	.title-text {
		display: inline-block;
		font-size: 48px;
		text-transform: uppercase;
		color: $text-pink;
		letter-spacing: 0;
		padding: 0;
		margin: 0;
	}
	.text {
		font-size: 13px;
		letter-spacing: 0;
		color: #fff;
		text-transform: uppercase;	
	}

}
.buttom-text {
	text-align: center;
	font-size: 16px;
	position: absolute;
	bottom: 0px;
	left: 0;
	margin-top: 5px;
	background: $pink-bg;
	color: #fff;
	padding: 5px 16px;
	text-transform: uppercase;
}
.hover-title {
	opacity: 0;
	position: absolute;
	bottom: 25px;
	right: 0;
	font-size: 16px;
	color: #fff;
	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
		& li {
			display: inline-block;
			padding: 25px 10px;
			float: left;
			margin: 0;
			color: #fff;
			& a {
				text-decoration: none;
				padding: 25px 10px;
			}
		}
	}
	.hover-title-first {
		background: $blue-bg;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: 10px;
				
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 20px;
			}
		}
	}
	.present {
		background: #00a1be url(../img/present-icon.png) no-repeat center center;
		width: 50px;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: -25px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 20px;
			}				
		}		
	}
	.cart {
		background: $pink-bg url(../img/cart-icon.png) no-repeat center center;
		width: 50px;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: -30px;
				right: -30px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 18px;
			}				
		}		
	}
	.hover-price {
		background: #323232;
		padding: 19px 10px;

		&:hover {
			opacity: .8;
		}
	}
}

.dollar {
	font-size: 24px;
}
.min-count {
	font-size: 14px;
	padding-bottom: 5px;
}
.men:hover .hover-title,
.women:hover .hover-title,
.baby:hover .hover-title,
.crafts:hover .hover-title-crafts,
.jewelry:hover .hover-title-jewelry,
.jewelry:hover .hover-jewelry,
.jewelry:hover .arrow,
.img-fill:hover .hover-title {
	outline: none; 
	opacity: 1;
	transition: opacity .7s;
}
.men:hover .text-block,
.men:hover .buttom-text,
.women:hover .text-block-women,
.baby:hover .text-block-women {
	display: none;
	transition: opacity .7s;
}
.left-padding {
	padding-right: 5px;
}
.right-padding {
	padding-left: 0px;
}
.text-block-women {
	text-align: left;
	position: absolute;
	bottom: 10px;
	left: 0;
	background: rgba(54,42,79,.8);
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding: 15px 28px;
	.title-text {
		display: inline-block;
		font-size: 35px;
		text-transform: uppercase;
		color: $text-pink;
		letter-spacing: 0;
		padding: 0;
		margin: 0;
	}
	.text {
		font-size: 13px;
		letter-spacing: 0;
		color: #fff;
		text-transform: uppercase;	
	}

}
.search {
	padding: 50px 55px;
	margin-top: 5px;
	background: $pink-bg;
	color: $text-black42;
	& form {
		font-size: 16px;
		& input {
			padding: 25px 20px;
			border: none;
			outline: none;
		}
	}
}
.hover-title-crafts { 
	opacity: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 16px;
	color: #fff;
	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
		& li {
			display: inline-block;
			padding: 25px 10px;
			float: left;
			margin: 0;
			color: #fff;
			& a {
				text-decoration: none;
				padding: 25px 10px;
			}
		}
	}
	.hover-crafts {
		background: #362a4f;
		font-size: 30px;
		text-transform: uppercase;
		padding: 15px 45px;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: 60px;
				text-transform: lowercase;
				text-align: center;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 25px;
			}				
		}
	}
	.present {
		background: #00a1be url(../img/present-icon.png) no-repeat center center;
		width: 50px;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: -25px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 20px;
			}				
		}		
	}
	.cart {
		background: $pink-bg url(../img/cart-icon.png) no-repeat center center;
		width: 50px;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -35px;
				left: -30px;
				right: -30px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 18px;
			}				
		}		
	}
	.hover-price {
		background: #323232;
		padding: 19px 10px;

		&:hover {
			opacity: .8;
		}
	}
}
.hover-title-jewelry {
	opacity: 0;
	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
		& li {
			display: inline-block;
			margin: 0;
			color: #fff;
			& a {
				text-decoration: none;
				padding: 25px 10px;
				color: #fff;
			}
		}
	}
	.hover-jewelry {
		opacity: 0;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 15px;
		padding-right: 140px;
		position: absolute;
		bottom: 182px;
		right: -180px;
		background: #362a4f;
		font-size: 60px;
		text-transform: uppercase;
		transform: rotate(-90deg);
		&:hover {
			opacity: .8;
		}
	}
	.arrow {
		opacity: 0;
		background: url(../img/arrow-icon.png) no-repeat;
		height: 98px;
		width: 98px;
		z-index: 1000;
		position: absolute;
		top: 100px;
		right: 0;
	}
}
.product-items {
	width: 275px;
	margin: 0 auto;
	& ul {
		margin-bottom: 0;
		padding: 0;
		& li {
			list-style: none;
			
		}
	}
	.arrows-product {
		float: left;
		background: url(../img/arrow-product.jpg) no-repeat center center;
		height: 12px;
		width: 19px;
		padding: 25px;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -30px;
				left: -7px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 18px;
			}			
		}
	}
	.present-product {
		float: left;
		background: url(../img/present-product.png) no-repeat center center;
		height: 18px;
		width: 15px;
		padding: 25px;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -30px;
				left: -20px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 18px;
			}			
		}			
	}
	.cart-product {
		float: left;
		background: url(../img/cart-product.png) no-repeat center center;
		height: 15px;
		width: 17px;
		padding: 25px;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		position: relative;
		&:hover {
			opacity: .8;
			&::after {
				content: attr(data-title);
				position: absolute;
				top: -30px;
				left: -30px;
				right: -30px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid $pink-bg;
				color: #000;
				font-size: 13px;
				padding: 5px 18px;
			}					
		}
	}
	.price-product {
		float: left;
		background: $pink-bg;
		padding: 8px 26px 8px 22px;
		color: #fff;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		&:hover {
			opacity: .8;
		}
	}
	.price-product-new {
		float: left;
		background: $blue-bg;
		padding: 8px 26px 8px 22px;
		color: #fff;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		&:hover {
			opacity: .8;
		}
	}

}
.salary {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	background: $pink-bg;
	padding: 10px 5px;
}
.new {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	background: $blue-bg;
	padding: 10px 20px;
}
.about {
	& p {
		padding: 20px;
	}
}
.title-about {
		font-size: 30px;
		color: $blue-bg;
		border-bottom: 1px solid #b9b9b9;
		width: 100%;
		padding-left: 20px;
		line-height: 50px;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;	
			bottom: -1px;
			width: 180px;
			border-bottom: 1px solid $pink-bg;
		}		
}
.buttom-bloks-chose {
	float: left;
	margin-right: 25px;
	display: inline-block;
	background-image: url(../img/chose-icon.png);
	background-color: $text-black43;
	background-repeat: no-repeat;
	background-position: 30px 30px;
	text-align: left;
	padding: 77px 38px 0px 200px;
	font-size: 30px;
	height: 230px;
	color: #fff;
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: #fff;
		text-decoration: none;
	}
}
.buttom-bloks-register {
	float: left;
	margin-right: 25px;
	display: inline-block;
	background-image: url(../img/register-icon.png);
	background-color: $blue-bg;
	background-repeat: no-repeat;
	background-position: 30px 30px;
	text-align: left;
	padding: 77px 35px 0px 200px;
	font-size: 30px;
	height: 230px;
	color: #fff;
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: #fff;
		text-decoration: none;
	}
}
.buttom-bloks-checkout {
	float: left;
	display: inline-block;
	background-image: url(../img/checkout-icon.png);
	background-color: $pink-bg;
	background-repeat: no-repeat;
	background-position: 30px 30px;
	text-align: left;
	padding: 77px 35px 0px 200px;
	font-size: 30px;
	height: 230px;
	color: #fff;
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: #fff;
		text-decoration: none;
	}
}
.buttom-bloks {
	margin: 0 auto;
	display: block;
	text-align: center;
}
.register-now {
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 27px;
	background: $blue-bg;
	padding: 15px 230px;
	margin: 30px 0px;
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: #fff;
		text-decoration: none;
	}	
}
footer {
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	padding: 35px 0px;
	& h2 {
		font-size: 24px;
		text-transform: uppercase;
		color: $text-black43;
		text-align: left;
		margin-bottom: 40px;
	}
	& h3 {
		font-size: 24px;
		text-transform: uppercase;
		color: $text-black43;
		text-align: left;

	}	
	& ul {
		padding: 0;
		margin: 0;
		& li {
			list-style: none;
			color: #676767;
			font-size: 16px;
		}
	}
	& input {
		border: 1px solid #dedede;
		padding: 25px 86px;
		outline: none;
		color: $text-black43;
		text-align: center;
	}
	& input[type=submit] {
		background:$blue-bg;
		border: none;
		outline: none;
		color: #fff;
		text-transform: uppercase;
		padding: 25px 109px 25px 110px;
	}
	& button {
		display: block;
		background: $blue-bg;
		border: none;
		outline: none;
		padding: 25px 0px;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		min-width: 376px;
	}

	
}
.copyright {
	padding: 25px 0px;
	font-size: 14px;
	color: $text-black43;

	& span {
		color: $text-pink;
	}
	.copy {
		float: left;
	}
	.author {
		float: right;
	}

}
@media only screen and (max-width : 1200px) {
	.buttom-bloks-chose {
		float: none;
	}
	.buttom-bloks-register {
		float: none;
	}
	.buttom-bloks-checkout {
		float: none;
		margin-top: 25px;
	}		
}
@media only screen and (max-width : 992px) {
	.menu-top ul {
		padding: 0px;
		text-align: center;
		& li {
			padding-left: 20px;
		}
	}
	.top-blocks {
		background: #fff;
	}
	.buttom-bloks-register {
		margin-top: 25px;
	}
}
@media only screen and (max-width : 768px) {
	.top-blocks {
		text-align: center;
	}
	.logo {
		text-align: center;
	}
	.register-now {
		padding: 15px 130px;
	}
}
@media only screen and (max-width : 768px) {
	.register-now {
		padding: 15px 100px;
	}
}
@media only screen and (max-width : 402px) {
	.register-now {
		padding: 15px 50px;
	}	
}