// **** about company section **** //

.about-us
	background-image: url("../img/services-bg.jpg")
	background-repeat: no-repeat
	background-position: 34% -386px
	padding: 40px 0px 50px
	+r(950)
		padding-left: 15px
		padding-right: 15px
		background-position: 34% 20px

.about-us__title
	@extend .colors__title

.about-us__descr
	@extend .colors__text
	margin: 6px 0px

.about-us__advantages
	margin-top: 15px

.about-us__advantages-item svg
	fill: #f6bd14
	width: 69px
	height: 69px

.about-us__advantages-text
	font-family: $roboto
	font-size: 17px
	font-weight: 700
	text-transform: uppercase
	color: #252525
	margin-top: 5px