// **** services section **** //

.services 
	background-image: url("../img/services-bg.jpg")
	background-position: 34% -150px
	background-repeat: no-repeat

.services__image 
	position: absolute
	+r(768)
		width: 100%


.services__title 
	position: absolute
	right: 0
	left: 0
	background-color: rgba(#21543d, .9)
	text-transform: uppercase
	color: #fff	
	font-size: 24px
	font-weight: 700
	padding: 20px
	font-family: $roboto
	+r(768)
		font-size: 20px
	
.services__descr
	position: absolute
	bottom: 30px
	left: 0
	right: 0
	background-color: rgba(#21543d, .9)
	font-family: $roboto
	color: #fff
	font-weight: 400
	padding-left: 18px
	font-size: 16px
	padding-top: 7px
	padding-bottom: 7px