{% import 'data/data.html' as data %}

<div class="article__item">
  <div class="news">
    <div class="news__item-head">
      <h3 class="news__item-title">Статьи</h3>
    </div>

    {% for article in data.article %}

    <div class="news__item-text news--article-text">
            
      <div class="article__img">
        <img src="img/article-img-1.jpg" alt="">
      </div>

      <div class="news__item-info news--article">
        <div class="info-date">{{article.date}}</div>
        <div class="categories">{{article.categories}}</div>
  
        <a class="info-title" href="#">{{article.title}}</a>
            
        <div class="author">
          <p class="author__text">Автор:</p>
          <a href="#" class="author__name">{{article.author}}</a>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="news__item-text-unhead">
        <p>{{article.text}} <span><a href="">...</a></span></p>
      </div>

    </div>

    {% endfor %}



  </div>
</div>