<main class="content">
    <div class="container">
      <div class="content__item">
        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Главная новость</h3>
          </div>
          <div class="news__item-text">
            <a class="news__item-text-head" href="#">Верховная Рада назначила Климкина
          министром иностранных дел. Дещицу
          провожали кричалкой о Путине.</a>
            <div class="news__item-info">
              <div class="info-date">26.06.14 - 7:48</div>
              <div class="info-views">991</div>
              <div class="info-comments">2</div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Все новости</h3>
          </div>
          
          <div class="news__item-text">
            <div class="news__item-info">
              <div class="info-date">22.06.14 - 7:24</div>
            </div>
            <a class="news__item-text-head news__item-text-unhead" href="#">Председатель парламента Александр Турчинов
          обратился к людям, заблокировавшим улицу
          Грушевского, прямо из зала.</a>
          </div>

          <div class="news__item-text news__item-headtext">
            <div class="news__item-info">
              <div class="info-date">21.06.14 - 8:03</div>
            </div>
            <a class="news__item-text-head news__item-text-head" href="#">Фракцию Коммунистической партии Украины покинули сразу два депутата.</a>
          </div>

          <div class="news__item-text news__item-headtext">
            <div class="news__item-info">
              <div class="info-date">23.06.14 - 23:18</div>
              <div class="info-photo"></div>
            </div>
            <a class="news__item-text-head news__item-text-head" href="#">В ходе антитеррористической операции на Луганщине ликвидировано укрепление боевиков и взят мост через Северский...</a>
          </div>

          <div class="news__item-text news__item-headtext">
            <div class="news__item-info">
              <div class="info-date">27.06.14 - 8:34</div>
            </div>
            <a class="news__item-text-head news__item-text-head" href="#">Блокпост АТО №1 штурмовали 8 российских танков. Погибли 4 военнослужащих.</a>
          </div>

          <div class="news__item-text">
            <div class="news__item-info">
              <div class="info-date">23.06.14 - 7:45</div>
            </div>
            <a class="news__item-text-head news__item-text-unhead" href="#">Украинский комментатор в прямом эфире спел известный хит про Путина.</a>
          </div>

          <div class="news__item-text">
            <div class="news__item-info">
              <div class="info-date">24.06.14 - 23:30</div>
            </div>
            <a class="news__item-text-head news__item-text-unhead" href="#">Международные дипломаты дружно поддержали идею Путина.</a>
          </div>

          <div class="news__item-text news__item-headtext">
            <div class="news__item-info">
              <div class="info-date">25.06.14 - 8:40</div>
            </div>
            <a class="news__item-text-head news__item-text-head" href="#">Сепаратисты ДНР берут под контроль банковскую систему Донецкой области.</a>
          </div>

          <div class="news__item-text">
            <div class="news__item-info">
              <div class="info-date">24.06.14 - 23:30</div>
            </div>
            <a class="news__item-text-head news__item-text-unhead" href="#">Украинские военные отказались от более надежных бронежилетов ради подвижности. Эксперты считают это ошибкой.</a>
          </div>

          <div class="news__item-text news__item-headtext">
            <div class="news__item-info">
              <div class="info-date">26.06.14 - 23:49</div>
            </div>
            <a class="news__item-text-head news__item-text-head" href="#">Два блокпоста АТО возле Славянска боевики атаковали с применением «Града» и танков. Есть раненые /обновлено/.</a>
          </div>

          <div class="news__item-text">
            <div class="news__item-info">
              <div class="info-date">24.06.14 - 0:20</div>
            </div>
            <a class="news__item-text-head news__item-text-unhead" href="#">Во Львове видного налоговика подвели его «волосатые руки».</a>
          </div>
          
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="article__item">
        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Статьи</h3>
          </div>

          <div class="news__item-text news--article-text">
            
          <div class="article__img">
            <img src="img/article-img-1.jpg" alt="">
          </div>

          <div class="news__item-info news--article">
            <div class="info-date">24.06.14 - 0:20</div>
            <div class="categories">Тенденции</div>
  
            <a class="info-title" href="#">Рада, пора на выход!</a>
            
            <div class="author">
              <p class="author__text">Автор:</p>
              <a href="#" class="author__name">Максим Михайленко</a>
            </div>

          </div>

          <div class="clearfix"></div>

          <div class="news__item-text-unhead">
            <p>Седьмой парламентский созыв публично агонизирует. Хотя в Верховной Раде зарегистрирован законопроект о самороспуске, это вовсе не означает, что парламентарии спешат на досрочные выборы. <span>...</span></p>
          </div>

          </div>

          <div class="news__item-text news--article-text">
            
          <div class="article__img">
            <img src="img/article-img-2.jpg" alt="">
          </div>

          <div class="news__item-info news--article">
            <div class="info-date">19.06.14 - 8:41</div>
            <div class="categories">размышления</div>
  
            <a class="info-title" href="#">Сосед-агрессор</a>
            
            <div class="author">
              <p class="author__text">Автор:</p>
              <a href="#" class="author__name">Дарина Сож</a>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="news__item-text-unhead">
            <p>В наш век развитых технологий простое человеческое общение вместо привычных живых встреч, и уж тем более бумажных писем, все более сводится к мобильной связи и социальным сетям. Легко и удобно. Если бы не одно НО. 
            <span>...</span></p>
          </div>

          </div>

      </div>
      </div>
      <div class="content__item">
        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Колонка автора</h3>
          </div>
          <div class="news__item-text news--article-text">
            <div class="article__img article--img">
            <img src="img/man.jpg" alt="">
          </div>
            <div class="news__item-info news--article author--article">
              <div class="info-date">26.06.14 - 7:48</div>
              <a href="#" class="info-title info-title--author">― В ожидании чуда</a>
              <h5 class="author-about"><span>Дмитрий Шурхало</span> о выборах, их результатах и надеждах народных масс.</h5>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Опрос дня</h3>
          </div>
          <div class="news__item-text news--article-text">
            <div class="news__item-info">
              <h4 class="vote-title">Что надо сделать, чтобы решить проблему востока Украины?</h4>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text"> Поубивать всех "ватников" и зажарить их сердца на медленном огне</p>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text">Сбросить на Луганскую и Донецкую области атомную бомбу</p>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text">Начать переговоры с лидерами ЛНР и ДНР</p>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text">Отдать Донецк и Луганск России</p>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text">Выстроить по всей границе с РФ 5-метровую стальную стену</p>

              <input type="radio" name="radio" class="radio-buttons">
              <p class="radio-text">Отмотать время назад...</p>
              
              <div class="vote-footer">
              <button type="button" class="vote-btn">Голосовать</button>

              <a href="#" class="show-result">Посмотреть результаты</a>
            </div>

            </div>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </main>