{% import 'data/data.html' as data %}

<footer class="footer">
  	<div class="container">
  		<p class="footer-text">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>

  		<ul class="footer__nav-list">

        {% for navFooter in data.footerNavigation %}

  			 <li class="footer__nav-item"><a href="#">{{navFooter.item}}</a></li>

        {% endfor %}

  			<div class="clearfix"></div>
  		</ul>
  	</div>
  </footer>
