<header class="header">
  	<div class="container">
	  	<nav class="navigation">
			
			<a href="#" class="burger-menu"></a>

	  		<ul class="navigation__list">
	  			<li class="navigation__item"><a href="">Новости</a></li>
	  			<li class="navigation__item"><a href="">Фото</a></li>
	  			<li class="navigation__item"><a href="">Видео</a></li>
	  			<li class="navigation__item"><a href="">Статьи</a></li>
	  			<li class="navigation__item"><a href="">Интервью</a></li>
	  			<li class="navigation__item"><a href="">Колонка</a></li>
	  			<li class="navigation__item"><a href="">Письмо</a></li>
	  			<li class="navigation__item"><a href="">Зразы</a></li>
	  			<li class="navigation__item navigation__item--active"><a href="">Дайджест</a></li>
	  			<li class="navigation__item"><a href="">Опрос</a></li>
	  			<li class="navigation__item"><a href="">Авторы</a></li>
	  		</ul>
	  	</nav>
  	</div>
  </header>