{% import 'data/data.html' as data %}

<div class="content__item">
        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Главная новость</h3>
          </div>

          <div class="news__item-text">

            <a class="news__item-text-head" href="#">Верховная Рада назначила Климкина
          министром иностранных дел. Дещицу
          провожали кричалкой о Путине.</a>

            <div class="news__item-info">
              <div class="info-date">26.06.14 - 7:48</div>
              <div class="info-views">991</div>
              <div class="info-comments">2</div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="news">
          <div class="news__item-head">
            <h3 class="news__item-title">Все новости</h3>
          </div>
          
          {% for news in data.newsItem %}

          <div class="news__item-text {% if news.headtext %} news__item-headtext {% endif %}">
            <div class="news__item-info">
              <div class="info-date">{{news.date}}</div>
            </div>
            <a class="news__item-text-head {% if news.headtext %} news__item-headtext {% else %} news__item-text-unhead {% endif %} " href="#">{{news.text}}</a>
          </div>

          {% endfor %}

          <div class="clearfix"></div>
        </div>
      </div>