 <div class="content__item">
    <div class="news">
      <div class="news__item-head">
        <h3 class="news__item-title">Колонка автора</h3>
      </div>

      <div class="news__item-text news--article-text">
        <div class="article__img article--img">
          <img src="img/man.jpg" alt="">
        </div>

        <div class="news__item-info news--article author--article">
          <div class="info-date">26.06.14 - 7:48</div>
            <a href="#" class="info-title info-title--author">― В ожидании чуда</a>
            <h5 class="author-about"><span>Дмитрий Шурхало</span> о выборах, их результатах и надеждах народных масс.</h5>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="news">
      <div class="news__item-head">
        <h3 class="news__item-title">Опрос дня</h3>
      </div>

      <div class="news__item-text news--article-text">
        <div class="news__item-info">
          <h4 class="vote-title">Что надо сделать, чтобы решить проблему востока Украины?</h4>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text"> Поубивать всех "ватников" и зажарить их сердца на медленном огне</p>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text">Сбросить на Луганскую и Донецкую области атомную бомбу</p>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text">Начать переговоры с лидерами ЛНР и ДНР</p>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text">Отдать Донецк и Луганск России</p>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text">Выстроить по всей границе с РФ 5-метровую стальную стену</p>

          <input type="radio" name="radio" class="radio-buttons">
          <p class="radio-text">Отмотать время назад...</p>
              
        <div class="vote-footer">
          <button type="button" class="vote-btn">Голосовать</button>

          <a href="#" class="show-result">Посмотреть результаты</a>
        </div>

        </div>
    </div>

    <div class="clearfix"></div>
  </div>

</div>