<!-- BEGIN footer -->
<footer class="footer">
	<div class="footer__container container">
		
		<div class="footer__list">
			<h4 class="footer__list-categorie">Products</h4>
			<ul class="footer__catalog">
				<li><a class="footer__catalog-link" href="#!">Social</a></li>
				<li><a class="footer__catalog-link" href="#!">Guide</a></li>
				<li><a class="footer__catalog-link" href="#!">Multi-Event</a></li>
				<li><a class="footer__catalog-link" href="#!">Attendify</a></li>
			</ul>
		</div>

		<div class="footer__list">
			<h4 class="footer__list-categorie">About</h4>
			<ul class="footer__catalog">
				<li><a class="footer__catalog-link" href="#!">How it Works</a></li>
				<li><a class="footer__catalog-link" href="#!">Company</a></li>
				<li><a class="footer__catalog-link" href="#!">Press</a></li>
				<li><a class="footer__catalog-link" href="#!">Careers</a></li>
			</ul>
		</div>

		<div class="footer__list">
			<h4 class="footer__list-categorie">Support</h4>
			<ul class="footer__catalog">
				<li><a class="footer__catalog-link" href="#!">FAQ</a></li>
				<li><a class="footer__catalog-link" href="#!">Request a Demo</a></li>
				<li><a class="footer__catalog-link" href="#!">Contact</a></li>
				<li><a class="footer__catalog-link" href="#!">catalog 4</a></li>
			</ul>
		</div>

		<div class="footer__list">
			<h4 class="footer__list-categorie">Social</h4>
			<ul class="footer__catalog-social">
				<li><a class="footer__catalog-social-link footer__catalog-social-link_facebook" href="#!">{{mixins.png('facebook')}}</a></li>
				<li><a class="footer__catalog-social-link footer__catalog-social-link_twitter" href="#!">{{mixins.png('twitter')}}</a></li> 
				<li><a class="footer__catalog-social-link footer__catalog-social-link_in" href="#!">{{mixins.png('in')}}</a></li>
				<li><a class="footer__catalog-social-link footer__catalog-social-link_google" href="#!">{{mixins.png('google')}}</a></li>
				<li><a class="footer__catalog-social-link footer__catalog-social-link_pinterest" href="#!">{{mixins.png('pinterest')}}</a></li>
				<li><a class="footer__catalog-social-link footer__catalog-social-link_instagram" href="#!">{{mixins.png('instagram')}}</a></li>
			</ul>
		</div>

		<div class="copyright">
			<div class="copyright__left">
				<p class="copyright__left-rights">© 2014 Attendify. All Rights Reserved.</p>
			</div>
			<div class="copyright__right">
				<a class="copyright__right-policy" href="#!">Privacy Policy</a> | <a class="copyright__right-terms" href="#!">Terms of Service</a>
			</div>
		</div>
	</div>
</footer>
<!-- END footer -->
