<!-- BEGIN footer -->
<footer class="footer">
	<div class="footer__container container">
		
		<div class="footer__item">
			<h4 class="footer__item-categorie">Products</h4>
			<ul class="footer__item-list">
				<li><a class="footer__item-point" href="#!">Social</a></li>
				<li><a class="footer__item-point" href="#!">Guide</a></li>
				<li><a class="footer__item-point" href="#!">Multi-Event</a></li>
				<li><a class="footer__item-point" href="#!">Attendify</a></li>
			</ul>
		</div>

		<div class="footer__item">
			<h4 class="footer__item-categorie">About</h4>
			<ul class="footer__item-list">
				<li><a class="footer__item-point" href="#!">How it Works</a></li>
				<li><a class="footer__item-point" href="#!">Company</a></li>
				<li><a class="footer__item-point" href="#!">Press</a></li>
				<li><a class="footer__item-point" href="#!">Careers</a></li>
			</ul>
		</div>

		<div class="footer__item">
			<h4 class="footer__item-categorie">Support</h4>
			<ul class="footer__item-list">
				<li><a class="footer__item-point" href="#!">FAQ</a></li>
				<li><a class="footer__item-point" href="#!">Request a Demo</a></li>
				<li><a class="footer__item-point" href="#!">Contact</a></li>
				<li><a class="footer__item-point" href="#!">Item 4</a></li>
			</ul>
		</div>

		<div class="footer__item">
			<h4 class="footer__item-categorie">Social</h4>
			<ul class="footer__item-social-list">
				<li><a class="footer__item-social-point footer__item-social-point_facebook" href="#!">{{mixins.png('facebook')}}</a></li>
				<li><a class="footer__item-social-point footer__item-social-point_twitter" href="#!">{{mixins.png('twitter')}}</a></li> 
				<li><a class="footer__item-social-point footer__item-social-point_in" href="#!">{{mixins.png('in')}}</a></li>
				<li><a class="footer__item-social-point footer__item-social-point_google" href="#!">{{mixins.png('google')}}</a></li>
				<li><a class="footer__item-social-point footer__item-social-point_pinterest" href="#!">{{mixins.png('pinterest')}}</a></li>
				<li><a class="footer__item-social-point footer__item-social-point_instagram" href="#!">{{mixins.png('instagram')}}</a></li>
			</ul>
		</div>

		<div class="copyright">
			<div class="copyright__item-left">
				<p class="copyright__item-rights">© 2014 Attendify. All Rights Reserved.</p>
			</div>
			<div class="copyright__item-right">
				<a class="copyright__item-policy" href="#!">Privacy Policy</a> | <a class="copyright__item-terms" href="#!">Terms of Service</a>
			</div>
		</div>
	</div>
</footer>
<!-- END footer -->
