<!-- BEGIN get-started -->
<section class="get-started">
	<div class="get-started__container container">
		<h2 class="sections-title section-title_get-started">Ready to get started?</h2>		
		<div class="get-started__space">
			<div class="start-form">
				<h3 class="form-title">Start building your app, free!</h3>
				<input type="text" class="form-input" placeholder="Email">
				<input type="password" class="form-input" placeholder="Password">
				<input type="password" class="form-input" placeholder="Repeat Password">
				<input type="submit" class="form-btn" value="Sign Up for Free">
			</div>
		</div>

		<div class="get-started__space">
			<div class="request-form">
				<h3 class="form-title">Request a Personal Demo:</h3>
				<input type="text" class="form-input" placeholder="Name">
				<input type="text" class="form-input" placeholder="Active Field">
				<input type="tel" class="form-input" placeholder="Phone (optional)">
				<input type="submit" class="form-btn form-btn_request" value="Request a Demo">
			</div>
		</div>

	</div>
</section>
<!-- END get-started -->