<section class="get-started">
	<div class="container">
		<h2 class="get-started__title">Ready to get started?</h2>		
		
		<div class="get-started__item">
			<div class="start-form">
				<h3 class="start-form__title">Start building your app, free!</h3>
				<input type="text" class="start-form__email" placeholder="Email">
				<input type="password" class="start-form__password" placeholder="Password">
				<input type="password" class="start-form__password" placeholder="Repeat Password">
				<input type="submit" class="start-form__btn" value="Sign Up for Free">
			</div>
		</div>

		<div class="get-started__item">
			<div class="request-form">
				<h3 class="request__title">Request a Personal Demo:</h3>
				<input type="text" class="request__name" placeholder="Name">
				<input type="text" class="request__field" placeholder="Active Field">
				<input type="tel" class="request__phone" placeholder="Phone (optional)">
				<input type="submit" class="request__btn" value="Request a Demo">
			</div>
		</div>

	</div>
</section>