<header class="header">
	<div class="header__container container">
		<div class="navigation">
			<div class="navigation__logo"><img src="img/logo.png" alt="Attendify"></div>
				<ul class="navigation__list">
					<li class="navigation__list-item"><a href="#">Main</a></li>
					<li class="navigation__list-item"><a href="#">Products</a></li>
					<li class="navigation__list-item"><a href="#">Pricing</a></li>
					<li class="navigation__list-item"><a href="#">About</a></li>
					<li class="navigation__list-item"><a href="#">Blog</a></li>
				</ul>

			<div class="action-buttons">
				<a href="#" class="action-buttons__login">Login</a>
				<a href="#" class="action-buttons__signup">Sign Up</a>
			</div>

			<button class="navigation__btn">
				<span></span>
			</button>
		</div>

		<div class="header__middle">
			<div class="header__middle-align">
				<h1 class="header__middle-title">Take control of your event app.</h1>
				<p class="header__middle-descr">Everything you need to build and manage apps that engage and delight.</p>

				<a href="#" class="header__middle-btn">Learn More</a>
			</div>
		</div>

		<div class="header__bottom">
			<p class="header__bottom-orgranizations-descr">Hundreds of organizations trust Attendify to enhance their events:</p>
			<div class="header__bottom-orgranizations">
				<img class="header__bottom-orgranizations-image" src="img/aol-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/astrazeneca-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/autodesk-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/bloomberg-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/disnei-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/google-organization.png" alt="">
				<img class="header__bottom-orgranizations-image" src="img/philips-organization.png" alt="">
			</div>
		</div>
	</div>
</header>
<section class="second-navigation">
	<div class="second-navigation__container container">
		<div class="navigation navigation_second">
			<div class="navigation__logo"><img src="img/second-logo.png" alt="Attendify"></div>
				<ul class="navigation__list">
					<li class="navigation__list-item navigation__list-item_second"><a href="#">Main</a></li>
					<li class="navigation__list-item navigation__list-item_second"><a href="#">Products</a></li>
					<li class="navigation__list-item navigation__list-item_second"><a href="#">Pricing</a></li>
					<li class="navigation__list-item navigation__list-item_second"><a href="#">About</a></li>
					<li class="navigation__list-item navigation__list-item_second"><a href="#">Blog</a></li>
				</ul>

			<div class="action-buttons">
				<a href="#" class="action-buttons__login action-buttons__login_second">Login</a>
				<a href="#" class="action-buttons__signup">Sign Up</a>
			</div>

			<button class="navigation__btn">
				<span></span>
			</button>
		</div>
	</div>
</section>
