<!-- BEGIN header -->
<header class="header">
	<div class="header__container container">
		<div class="navigation">
			<div class="navigation__logo"><img src="img/logo.png" alt="Attendify"></div>
				<ul class="navigation__list">
					<li class="navigation__list-item"><a href="#">Main</a></li>
					<li class="navigation__list-item"><a href="#">Products</a></li>
					<li class="navigation__list-item"><a href="#">Pricing</a></li>
					<li class="navigation__list-item"><a href="#">About</a></li>
					<li class="navigation__list-item"><a href="#">Blog</a></li>
				</ul>

			<div class="action-buttons">
				<a href="#" class="action-buttons__link action-buttons__link_login">Login</a>
				<a href="#" class="action-buttons__link action-buttons__link_signup">Sign Up</a>
			</div>

			<button class="navigation__btn">
				<span></span>
			</button>

			<div class="toogle-navigation">
				<div class="toogle-navigation__logo"><img src="img/second-logo.png" alt="Attendify"></div>

				<ul class="toogle-navigation__list">
					<li><a href="#" class="toggle-navigation__item">Main</a></li>
					<li><a href="#" class="toggle-navigation__item">Products</a></li>
					<li><a href="#" class="toggle-navigation__item">Pricing</a></li>
					<li><a href="#" class="toggle-navigation__item">About</a></li>
					<li><a href="#" class="toggle-navigation__item">Blog</a></li>
				</ul>

				<div class="action-buttons">
					<a href="#" class="action-buttons__login action-buttons__login_second">Login</a>
					<a href="#" class="action-buttons__signup">Sign Up</a>
				</div>

				<div class="toogle-navigation__close"></div>
			</div>
		</div>

		<div class="header__middle">
			<div class="header__middle-align">
				<h1 class="header__middle-title">Take control of your event app.</h1>
				<p class="header__middle-descr">Everything you need to build and manage apps that engage and delight.</p>

				<a href="#" class="header__middle-btn">Learn More</a>
			</div>
		</div>

		<div class="header__bottom">
			<p class="header__bottom-orgranizations-descr">Hundreds of organizations trust Attendify to enhance their events:</p>
			<div class="header__bottom-orgranizations">
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('aol-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('astrazeneca-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('autodesk-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('bloomberg-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('disnei-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('google-organization')}}
				</div>
				<div class="header__bottom-orgranizations-image">
					{{mixins.png('philips-organization')}}
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END header