<!-- BEGIN helped-events -->
<section class="helped-events">
	<div class="helped-events__container container">
		<h2 class="sections-title section-title_helped-events">Attendify has helped events of all types deliver differentiating mobile experiences:</h2>
		<div class="helped-events__wrap"> <!-- for childs select -->
			<div class="helped-events__piece">
				<h3 class="helped-events__piece-title">Conferences</h3>
				<p class="helped-events__piece-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__piece">
				<h3 class="helped-events__piece-title">Corporate Events</h3>
				<p class="helped-events__piece-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__piece">
				<h3 class="helped-events__piece-title">Associations</h3>
				<p class="helped-events__piece-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__piece">
				<h3 class="helped-events__piece-title">Faith Based Orgs.</h3>
				<p class="helped-events__piece-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
		</div>
	</div>
</section>
<!-- END helped-events -->