<section class="helped-events">
	<div class="container">
		<h2 class="helped-events__title">Attendify has helped events of all types deliver differentiating mobile experiences:</h2>
		<div class="helped-events__item-wrap"> <!-- for childs select -->
			<div class="helped-events__item">
				<h3 class="helped-events__item-title">Conferences</h3>
				<p class="helped-events__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__item">
				<h3 class="helped-events__item-title">Corporate Events</h3>
				<p class="helped-events__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__item">
				<h3 class="helped-events__item-title">Associations</h3>
				<p class="helped-events__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
			<div class="helped-events__item">
				<h3 class="helped-events__item-title">Faith Based Orgs.</h3>
				<p class="helped-events__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. </p>
			</div>
		</div>
	</div>
</section>