<!-- BEGIN main-app with tabs -->
<section class="main-app main-app_space">
	<div class="main-app__container container">
		<div class="main-app__about">
			<h2 class="main-app__about-title">Build your app <br> in days, <br>not months.</h2>
			<p class="main-app__about-descr main-app__about-descr_space">Building your app is a simple step-by-step process that you can finish in hours. Customize your app with the features you need, colors, graphics, icon and more. </p>

			<a href="#" class="more-btn">Learn More</a>
		</div>

		<div class="app-tabs">
			<ul class="app-tabs__list">
				<li class="app-tabs__list-point point-is-active">{{mixins.png('tabs-build')}} <span class="app-tabs__list-point-title">Build</span> </li>
				<li class="app-tabs__list-point">{{mixins.png('tabs-manage')}} <span class="app-tabs__list-point-title">Manage</span></li>
				<li class="app-tabs__list-point">{{mixins.png('tabs-measure')}} <span class="app-tabs__list-point-title">Measure</span></li>
			</ul>

			<!-- begin build tab -->
			<div class="app-tabs__content">
				<div class="build"></div>
			</div>

			<!-- end build tab -->
		
			<!-- begin manage tab -->

			<div class="app-tabs__content">
				<div class="manage-message"></div>
			</div>

			<!-- end manage tab -->

			<!-- begin measure tab -->

			<div class="app-tabs__content">
				<div class="graph"></div>
			</div>
			<!-- end measure tab -->
					
		</div>
	</div>
</section>
<!-- END main-app with tabs -->