<!-- BEGIN main-app -->
<section class="main-app main-app_js-nav">
	<div class="main-app__container container">
		<div class="main-app__about">
			<h2 class="main-app__about-title">Not just an <br>event app, <br>a private social network.</h2>
			<p class="main-app__about-descr">Leverage the power of social at your event with a private networking app build just for your even`t. Photos, messages, likes, comments, polls and more.</p>

			<a href="#" class="more-btn">Learn More</a>
		</div>

		<div class="main-app__features">
			<div class="main-app__features-phone"></div>
			<ul class="main-app__features-list">
				<li class="main-app__features-item">{{mixins.icon('bloomberg-chat')}}<span>Messages</span></li>
				<li class="main-app__features-item main-app__features-item_photos">{{mixins.icon('philips-camera')}}<span>Photos</span></li>
				<li class="main-app__features-item main-app__features-item_polls">{{mixins.icon('polls')}}<span>Polls</span></li>
				<li class="main-app__features-item">{{mixins.icon('autodesk-heart')}}<span>Likes</span></li>
				<li class="main-app__features-item main-app__features-item_comments">{{mixins.icon('autodesk-message')}}<span>Comments</span></li>
			</ul>
		</div>
	</div>
</section>
<!-- END main-app -->