<section class="main-app">
	<div class="container">
		<div class="main-app__about">
			<h2 class="main-app__about-title">Not just an <br>event app, <br>a private social network.</h2>
			<p class="main-app__about-descr">Leverage the power of social at your event with a private networking app build just for your even`t. Photos, messages, likes, comments, polls and more.</p>

			<a href="#" class="main-app__about-btn">Learn More</a>
		</div>

		<div class="main-app__features">
			<div class="main-app__features-phone"></div>
			<ul class="main-app__features-list">
				<li class="main-app__features-item main-app__features-item_messages"><span>Messages</span></li>
				<li class="main-app__features-item main-app__features-item_photos"><span>Photos</span></li>
				<li class="main-app__features-item main-app__features-item_polls"><span>Polls</span></li>
				<li class="main-app__features-item main-app__features-item_likes"><span>Likes</span></li>
				<li class="main-app__features-item main-app__features-item_comments"><span>Comments</span></li>
			</ul>
		</div>
	</div>
</section>