<section class="main-app main__app_space">
	<div class="container">
		<div class="main-app__about">
			<h2 class="main-app__about-title">Build your app <br> in days, <br>not months.</h2>
			<p class="main-app__about-descr main-app__about-descr_space">Building your app is a simple step-by-step process that you can finish in hours. Customize your app with the features you need, colors, graphics, icon and more. </p>

			<a href="#" class="main-app__about-btn">Learn more</a>
		</div>

		<div class="main-app__tabs">tabs coming soon</div>

	</div>
</section>