<section class="main-app main__app_space">
	<div class="container">
		<div class="main-app__about">
			<h2 class="main-app__about-title">Build your app <br> in days, <br>not months.</h2>
			<p class="main-app__about-descr main-app__about-descr_space">Building your app is a simple step-by-step process that you can finish in hours. Customize your app with the features you need, colors, graphics, icon and more. </p>

			<a href="#" class="main-app__about-btn">Learn more</a>
		</div>

		<div class="app-tabs">
			<ul class="app-tabs__list">
				<li class="app-tabs__item app-tabs__item_active">{{mixins.png('tabs-build')}} <span class="app-tabs__item-title">Build</span> </li>
				<li class="app-tabs__item">{{mixins.png('tabs-manage')}} <span class="app-tabs__item-title">Manage</span></li>
				<li class="app-tabs__item">{{mixins.png('tabs-measure')}} <span class="app-tabs__item-title">Measure</span></li>
			</ul>

			<!-- begin build tab -->
			<div class="app-tabs__content">
				<div class="build"></div>
			</div>

			<!-- end build tab -->
		
			<!-- begin manage tab -->

			<div class="app-tabs__content">
				<div class="manage-message"></div>
			</div>

			<!-- end manage tab -->

			<!-- begin measure tab -->

			<div class="app-tabs__content">
				<div class="graph"></div>
			</div>
			<!-- end measure tab -->
					
		</div>
	</div>
</section>