<!-- BEGIN our-clients -->
<section class="our-clients">
	<div class="our-clients__container container">
		<h2 class="sections-title sections-title_our-clients">Engagement you can count on.</h2>
		<div class="sections-description sections-description_our-clients">See what our clients achieved with Attendify's platform.</div>

		<div class="our-clients__wrap">	<!-- for childs select -->
			<div class="our-clients__block">
				<div class="our-clients__block-icons actrazeneca-percent">{{mixins.icon('actrazeneca-percent')}}</div>
				<div class="our-clients__block-icons actrazeneca-clock">{{mixins.icon('actrazeneca-clock')}}</div>
				<div class="our-clients__block-icons actrazeneca-graph">{{mixins.icon('actrazeneca-graph')}}</div>
				<div class="our-clients__block-logo our-clients__block-logo_astrazeneca">{{mixins.png('astrazeneca-logo')}}</div>
				<div class="our-clients__block-count">82%</div>
				<div class="our-clients__block-descr">Adoption Rate</div>
			</div>
			<div class="our-clients__block">
				<div class="our-clients__block-icons google-man">{{mixins.icon('google-man')}}</div>
				<div class="our-clients__block-icons google-phone">{{mixins.icon('google-phone')}}</div>
				<div class="our-clients__block-icons google-secondman">{{mixins.icon('google-secondman')}}</div>
				<div class="our-clients__block-logo our-clients__block-logo_google">{{mixins.png('google-logo')}}</div>
				<div class="our-clients__block-count">53</div>
				<div class="our-clients__block-descr">Sessions/user</div>
			</div>
			<div class="our-clients__block">
				<div class="our-clients__block-icons philips-illustr">{{mixins.icon('philips-illustr')}}</div>
				<div class="our-clients__block-icons philips-camera">{{mixins.icon('philips-camera')}}</div>
				<div class="our-clients__block-icons philips-illustrsecond">{{mixins.icon('philips-illustrsecond')}}</div>
				<div class="our-clients__block-logo">{{mixins.png('philips-logo')}}</div>
				<div class="our-clients__block-count">281</div>
				<div class="our-clients__block-descr">Photos Shared</div>
			</div>
			<div class="our-clients__block">
				<div class="our-clients__block-icons bloomberg-fly">{{mixins.icon('bloomberg-fly')}}</div>
				<div class="our-clients__block-icons bloomberg-mail">{{mixins.icon('bloomberg-mail')}}</div>
				<div class="our-clients__block-icons bloomberg-chat">{{mixins.icon('bloomberg-chat')}}</div>
				<div class="our-clients__block-logo our-clients__block-logo_bloomberg">{{mixins.png('bloomberg-logo')}}</div>
				<div class="our-clients__block-count">802</div>
				<div class="our-clients__block-descr">Messages</div>
			</div>
			<div class="our-clients__block">
				<div class="our-clients__block-icons autodesk-mail">{{mixins.icon('autodesk-mail')}}</div>
				<div class="our-clients__block-icons autodesk-heart">{{mixins.icon('autodesk-heart')}}</div>
				<div class="our-clients__block-icons autodesk-message">{{mixins.icon('autodesk-message')}}</div>
				<div class="our-clients__block-logo our-clients__block-autodesk">{{mixins.png('autodesk-logo')}}</div>
				<div class="our-clients__block-count">142</div>
				<div class="our-clients__block-descr">Interactions</div>
			</div>
			<div class="our-clients__block">
				<div class="our-clients__block-icons philips-mail">{{mixins.icon('philips-mail')}}</div>
				<div class="our-clients__block-icons philips-bigmail">{{mixins.icon('philips-bigmail')}}</div>
				<div class="our-clients__block-icons philips-openmail">{{mixins.icon('philips-openmail')}}</div>
				<div class="our-clients__block-logo our-clients__block-logo_philips">{{mixins.png('philips-logo')}}</div>
				<div class="our-clients__block-count">768</div>
				<div class="our-clients__block-descr">Private Messages</div>
			</div>
		</div>

		<div class="our-clients__modal">
			<div class="our-clients__modal-content"></div>
			<div class="our-clients__modal-close">Close{{mixins.icon('close-modal')}}</div>
		</div>
	</div>
</section>
<!-- END our-clients -->