<!-- BEGIN performance -->
<section class="performance">
	<div class="performance__container container">
		<h2 class="sections-title section-title_performance">All the bells & whistles</h2>
		<p class="sections-description">We're not only social, we know how to get down to business.</p>

		<ul class="performance__list">
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('schedule')}}</div>
					<p class="performance__list-case-descr">Schedule</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('speakers')}}</div>
					<p class="performance__list-case-descr">Speakers</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('sponsors')}}</div>
					<p class="performance__list-case-descr">Speakers</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('exhibitors')}}</div>
					<p class="performance__list-case-descr">Exhibitors</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('delegates')}}</div>
					<p class="performance__list-case-descr">Delegates</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('maps')}}</div>
					<p class="performance__list-case-descr">Maps</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('exhibitmaps')}}</div>
					<p class="performance__list-case-descr">Exhibit Maps</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('twitterfeed')}}</div>
					<p class="performance__list-case-descr">Twitter Feed</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('news')}}</div>
					<p class="performance__list-case-descr">News</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('webview')}}</div>
					<p class="performance__list-case-descr">Web View</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('eventbrite')}}</div>
					<p class="performance__list-case-descr">Eventbrite</p>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('about')}}</div>
					<p class="performance__list-case-descr">About</p>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- END performance -->