<!-- BEGIN performance -->
<section class="performance">
	<div class="performance__container container">
		<h2 class="sections-title section-title_performance">All the bells & whistles</h2>
		<p class="sections-description">We're not only social, we know how to get down to business.</p>

		<ul class="performance__list">
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('schedule')}}</div>
					<div class="performance__list-case-descr">Schedule</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('speakers')}}</div>
					<div class="performance__list-case-descr">Speakers</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('sponsors')}}</div>
					<div class="performance__list-case-descr">Speakers</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('exhibitors')}}</div>
					<div class="performance__list-case-descr">Exhibitors</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('delegates')}}</div>
					<div class="performance__list-case-descr">Delegates</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('maps')}}</div>
					<div class="performance__list-case-descr">Maps</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('exhibitmaps')}}</div>
					<div class="performance__list-case-descr">Exhibit Maps</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('twitterfeed')}}</div>
					<div class="performance__list-case-descr">Twitter Feed</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('news')}}</div>
					<div class="performance__list-case-descr">News</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('webview')}}</div>
					<div class="performance__list-case-descr">Web View</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('eventbrite')}}</div>
					<div class="performance__list-case-descr">Eventbrite</div>
				</div>
			</li>
			<li class="performance__list-case">
				<div class="performance__list-case-wrap">
					<div class="performance__list-case-image">{{mixins.png('about')}}</div>
					<div class="performance__list-case-descr">About</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- END performance -->