<section class="powerfull-app">
	<div class="container">
		<h2 class="powerfull-app__title">Your own branded event app in 1 week? Yes!</h2>
		<div class="powerfull-app__wrap">  <!-- for hide last saparator -->
			<div class="powerfull-app__item">
				<div class="powerfull-app__item-image">{{mixins.png('app-build')}}</div>
				<div class="powerfull-app__item-title">Build</div>
				<div class="powerfull-app__item-descr">Create your app in just a few hours with Attendify Hub.</div>
			</div>
			<div class="powerfull-app__item">
				<div class="powerfull-app__item-image">{{mixins.png('app-submit')}}</div>
				<div class="powerfull-app__item-title">Submit</div>
				<div class="powerfull-app__item-descr">When you're done submit your app and we'll get it built. </div>
			</div>
			<div class="powerfull-app__item">
				<div class="powerfull-app__item-image">{{mixins.png('app-review')}}</div>
				<div class="powerfull-app__item-title">Review</div>
				<div class="powerfull-app__item-descr">Within 1 business day we'll submit your app to App Stores.</div>
			</div>
			<div class="powerfull-app__item">
				<div class="powerfull-app__item-image">{{mixins.png('app-stores')}}</div>
				<div class="powerfull-app__item-title">App Stores</div>
				<div class="powerfull-app__item-descr">App Store approval typically takes around 1 week.</div>
			</div>
		</div>

		<a href="#" class="powerfull-app__btn">How-to Guide</a>
	</div>
</section>