<!-- BEGIN pricing -->
<section class="pricing">
	<div class="pricing__container container">
		<h2 class="sections-title section-title_pricing">Simple pricing.</h2>
		<p class="sections-description">Attendify isn't only the fastest & easiest way to build your app, but also affordable:</p>

		<div class="select-price"> <!-- pricing -->	
			<div class="select-price__unit">
				<div class="select-price__unit-title select-price__unit-title_blue">Guide</div>
				<div class="select-price__unit-descr">Replace your print version with an interactive mobile event app.
					<div class="select-price__unit-count"><span class="select-price__unit-dollar">$</span>599</div>
				</div>
			</div>
			<div class="select-price__unit">
				<div class="select-price__unit-title select-price__unit-title_purple">Social</div>
				<div class="select-price__unit-descr select-price__unit-descr_big">A private social network for your event + the Guide App's features. 
					<div class="select-price__unit-count select-price__unit-count_big"><span class="select-price__unit-dollar select-price__unit-dollar_big">$</span>999</div>
				</div>
			</div>
			<div class="select-price__unit">
				<div class="select-price__unit-title select-price__unit-title_pink">Multi-Event</div>
				<div class="select-price__unit-descr">Whether Guide or Social, run all your events from a single app.
					<div class="select-price__unit-count"><span class="select-price__unit-dollar">$</span>199<span class="select-price__unit-month">/mo</span></div>
				</div>
			</div>
		</div> <!-- end pricing -->	
	</div>
</section>
<!-- END pricing -->