<section class="pricing">
	<div class="container">
		<h2 class="pricing__title">Simple pricing.</h2>
		<p class="pricing__descr">Attendify isn't only the fastest & easiest way to build your app, but also affordable:</p>

		<div class="select-price"> <!-- pricing -->	
			<div class="select-price__item">
				<div class="select-price__item-title select-price__item-title_blue">Guide</div>
				<div class="select-price__item-descr">Replace your print version with an interactive mobile event app.
					<div class="select-price__item-count"><span class="select-price__item-dollar">$</span>599</div>
				</div>
			</div>
			<div class="select-price__item">
				<div class="select-price__item-title select-price__item-title_purple">Social</div>
				<div class="select-price__item-descr select-price__item-descr_big">A private social network for your event + the Guide App's features. 
					<div class="select-price__item-count select-price__item-count_big"><span class="select-price__item-dollar select-price__item-dollar_big">$</span>999</div>
				</div>
			</div>
			<div class="select-price__item">
				<div class="select-price__item-title select-price__item-title_pink">Multi-Event</div>
				<div class="select-price__item-descr">Whether Guide or Social, run all your events from a single app.
					<div class="select-price__item-count"><span class="select-price__item-dollar">$</span>199<span class="select-price__item-month">/mo</span></div>
				</div>
			</div>
		</div> <!-- end pricing -->	
	</div>
</section>