<section class="specification">
	<div class="specification__container container">
		<div class="specification__item">
			<div class="specification__item-image specification__item-image_blue">{{mixins.icon('share')}}</div>
			<h3 class="specification__item-title">Share Privately</h3>
			<p class="specification__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
		<div class="specification__item">
			<div class="specification__item-image specification__item-image_purple">{{mixins.icon('build')}}</div>
			<h3 class="specification__item-title">Build a Community</h3>
			<p class="specification__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
		<div class="specification__item">
			<div class="specification__item-image specification__item-image_red">{{mixins.icon('control')}}</div>
			<h3 class="specification__item-title">Stay in Control</h3>
			<p class="specification__item-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
	</div>
</section>