<!-- BEGIN specification -->
<section class="specification">
	<div class="specification__container container">
		<div class="specification__box">
			<div class="specification__box-image specification__box-image_blue">{{mixins.icon('share')}}</div>
			<h3 class="specification__box-title">Share Privately</h3>
			<p class="specification__box-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
		<div class="specification__box">
			<div class="specification__box-image specification__box-image_purple">{{mixins.icon('build')}}</div>
			<h3 class="specification__box-title">Build a Community</h3>
			<p class="specification__box-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
		<div class="specification__box">
			<div class="specification__box-image specification__box-image_red">{{mixins.icon('control')}}</div>
			<h3 class="specification__box-title">Stay in Control</h3>
			<p class="specification__box-descr">Leverage the power of Attendify's platform to create and manage apps yourself. Its simpler, faster, and more affordable than ever to create.</p>
		</div>
	</div>
</section>
<!-- END specification -->