body {
	background: #ecedf1;
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:visited,
	&:active {
		text-decoration: none;
	}
}
.logo {
	color: #344d71;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 700;
	float: left;
	margin-top: 25px;
}
.social-links {
	float: right;
	color: #83969f;
	padding: 25px 15px;
	&:hover {
		color: #555;
	}
}
.top-line {
	position: relative;
}
.email {
	background: #fff;
	color: #83969f;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open-Sans', sans-serif;
	text-align: right;
	padding: 15px 40px 5px;

}
.number {
	font-size: 25px;
	color: #fff;
	background: #344d71;
	font-weight: 400;
	font-family: 'Open-Sans', sans-serif;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	right: 0;
	width: 45%;
	& a {
		color: #fff;
	}
	.number-icon {
		float: left;
		background: #de9e20;
		padding: 15px;
		font-size: 20px;
	}
	.phone-number {
		padding: 7px 0px 7px 75px;
		margin: 0;
		text-align: left;
	}
}

.mountain {
	background: url(../img/header-bg.jpg) no-repeat center bottom;
	min-height: 1000px;

	background-size: cover;
}
.header-page {
	position: relative;
	height: 1000px;
	& form {
		position: absolute;
		bottom: -100px;
		right: 0;
		background: #344d71;
		display: inline-block;
		padding: 45px 60px;
		color: #fff;
		z-index: 3;
		width: 409px;
		& h3 {
			margin-top: 0;
			font-size: 24px;
		}
		& h4 {
			font-family: 'Open Sans', san-serif;
			font-weight: 600;
			font-size: 14px;
			color: #d0ddf2;
			margin-bottom: 25px;
		}
		& p {
			font-family: 'Open Sans', san-serif;
			color: #fafdfd;
			margin: 5px;
			font-weight: 400;
		}
		& input {
			color: #333;
			padding: 10px;
			width: 100%;
		}
		& button {
			background: #f6b431;
			border: none;
			outline: none;
			display: inline-block;
			padding: 15px 75px;
			border-radius: 3px;
			width: 100%;
			margin-top: 15px;
			& a {
				color: #fff;
				font-family: 'Open Sans', san-serif;
				font-weight: 600;
			}
		}
	}
}
.menu {
	font-family: 'Open Sans', san-serif;
	font-size: 16px;
	font-weight: 600;
	& ul {
		& li {
			& a {
				background: transparent;
				color: #fff;
				padding: 30px 20px;
			}
			& a:hover,
			& a:focus,
			& a:visited
			& a:active {
				background: transparent;
				color: #333;
			}

		}
	}
	.open>a,
	.open>a:hover,
	.open>a:active,
	.open>a:focus,
	.open>a:visited {
		background: transparent;
	}
	.arrow {
		background: #3a557c;
		border-radius: 2px;
		padding: 2px 5px;
		font-size: 12px;
		margin-left: 5px;
	}
}
.dropdown-menu a {
	color: #333 !important;
	padding: 5px 10px !important;
}
.navbar-nav {
	text-align: center;
}
.navbar-toggle {
	background: #fff;
	.icon-bar {
		background: #999;
	}
}

.tagline {
	color: #fff;
	float: right;
	margin-top: 90px;
	margin-right: 20px;
	& h2 {
		font-size: 40px;
		font-weight: 300;
	}
	& p {
		font-size: 20px;
		font-family: 'Open Sans', san-serif;
		font-weight: 600;
	}
}
.enrol {
	background: #83969f;
	position: relative;
	z-index: 1;
	height: 100px;
}
.enrol-online {
	& h2 {
	color: #fff;
	font-family: 'Open Sans', san-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 25px;
	}
	& span a {
		font-weight: 400;
		color: #fff;
		text-decoration: underline;
	}
}
.enrol-right {
	background: #ecedf1;
	position: absolute;
	right: 0;
	min-height: 100px;
}
.more-info {
	
	h3 {
		font-family: 'Open Sans', san-serif;
		font-size: 20px;
		font-weight: 400;
		color: #63727a;
	}
	& p {
		color: #61757f;
		font-size: 14px;
		font-weight: 400;
		margin-top: 30px;
		line-height: 2.5;
	}
	.info {
		background: #fff;
		padding: 25px 25px;
		min-height: 484px;
	}
	.info-list {
		display: block;
		background: #fbfbfb;
		padding: 25px 25px;
		width: 31.75%;
		line-height: 1.7;
		height: 534px;
		& ul {
			margin-top: 35px;
			padding-left: 20px;
			margin-bottom: 15px;
			& li {
				list-style: none;
				text-align: left;
				position: relative;
				margin-top: 15px;

				& i {
				position: absolute;
				left: -18px;
				top: 4px;
				color: #f6b431;
				}
			}
		}
	}
}
.btn-more {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fff;
	background: #f6b431;
	display: inline-block;
	padding: 15px 35px;
	text-transform: uppercase;
	border-radius: 2px;
	margin-top: 50px;
	& i {
		margin-left: 10px;
	}
	&:hover {
		background: #3a557c;
		color: #fff;
	}
	&:active,
	&:focus,
	&:visited {
		color: #fff;
	}
}
.universe {
	background: url(../img/universe.jpg) no-repeat;
	height: 250px;
	width: 34.918%;
	cursor: pointer;
	position: relative;
	.play {
		position: absolute;
		bottom: 30px;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 16px;
		padding-left: 10px;
		& i {
			margin-right: 15px;
			vertical-align: middle;
		}
		&:hover {
			color: #f9f;
		}
	}

}
.universe-discription {
	float: right;
	width: 34.918%;
	padding: 30px 40px;
	background: #fff;
	display: block;
	& h5 {
		line-height: 1.8;
		padding-bottom: 29px;
		color: #61757f;
		font-family: 'Open Sans', sans-serif;
	}
}
.search1, .search2, .search3, .search4, .search5,
.search6 {
	color: #fafdfd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 25px 40px;
	float: left;
	& h2 {
		font-size: 18px;
		margin-top: 10px;
	}
	& p {
		font-size: 13px;
	}
	& i {
		position: absolute;
		right: 35px;
		top: 45px;
		color: #324a6d;
	}
	& a {
		color: #fff;
	}
}

.search1 {
	background: #3a557c;
	&:hover {
		background: #2c4f82;
	}
}
.search2 {
	background: #466289;
	width: 31.75%;
	&:hover {
		background: #4e72a4;
	}	
}
.search3 {
	width: 34.918%;
	background: #253957;
	&:hover {
		background: #6093d9;
	}	
}
.search4 {
	background: #516e96;
	&:hover {
		background: #1c56a7;
	}	
}
.search5 {
	background: #4771af;
	width: 31.75%;
	&:hover {
		background: #1771ee;
	}	
}
.search6 {
	width: 34.918%;
	background: #3a557c;
	&:hover {
		background: #0b2b57;
	}	
}
.news {
	background: #fff;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	.head-news {
		font-weight: 600;
		font-size: 16px;
		color: #63727a;
		text-transform: uppercase;
		border-bottom: 1px solid #e6d7d7;
		padding: 15px 0px;
	}
	& h3 a {
		color: #f6b431;
		font-size: 14px;
		&:hover {
			color: #333;
		}
	}
	& p {
		color: #324a6d;
		font-size: 13px;
	}
	.news-date {
		font-size: 13px;
		color: #aeb3ba;
		font-style: italic;
	}
	article {
		margin-top: 35px;
	}

}
.video-news {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.video-img:hover{
	opacity: .8;
}		
.play1 {
	position: absolute;
	bottom: 30px;
	left: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	padding-left: 10px;
		& i {
			margin-right: 15px;
			vertical-align: middle;
		}
		&:hover {
			color: #f9f;
		}	
}
footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background: #253957;
	color: #f3f6f7;
	padding: 45px 0px;
	position: relative;
	& h3 {
		color: #f6b431;
		margin-bottom: 20px;
	}
	& ul {
		padding: 0;
		& li {
			list-style: none;
			font-size: 13px;
			margin-top: 5px;
		}
	}
	& a {
		color: #f3f6f7;

		&:hover {
			color: #ded8cc;
		}
	}
}
.number-bot {
	height: 320px
}
.number-footer {
		font-size: 25px;
		color: #fff;
		background: #344d71;
		font-weight: 400;
		font-family: 'Open-Sans', sans-serif;
		position: absolute;
		bottom: -45px;
		display: inline-block;
		.number-icon {
			float: left;
			background: #de9e20;
			padding: 15px 15px 14px;
			font-size: 20px;
		}
		.phone-number {
			padding: 7px 40px 7px 75px;
			margin: 0;
			text-align: left;
		}
		& a:active,
		& a:focus,
		& a:visited {
			color: #fff;
		}
	}
.copyright {
	background: #344d71;
	color: #59759c;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 20px 0px 100px;
}
@media only screen and (max-width: 1200px) {	
	.enrol {
		float: none;
		width: 100%;
	}
	.enrol-right {
		display: none;
	}
	.header-page form {
		bottom: 0;
	}
	.search2, .search3, .search5, .search6 {
		width: 50%;

	}	
	.info-list {
		height: 639px !important;
	}
	.universe-discription {
		height: 389px
	}
}
@media only screen and (max-width: 992px) {	
	.info-list {
		width: 100% !important;
	}
	.universe {
		width: 50%;
		float: left;
	}
	.universe-discription {
		width: 50%;
		height: 100%;
		padding: 0px 40px;
	}
	.info-list {
		height: 100% !important;
	}

}
@media only screen and (max-width: 767px) {	
	.navbar-nav .open .dropdown-menu {
		text-align: center;
		background: #fff;
		display: inline-block;
	}
	.universe {
		width: 100%;
		margin: 0 auto;
	}
	.universe-discription {
		width: 100%;
	}
	.search2, .search3, .search5, .search6 {
		width: 100%;
	}	
}
@media only screen and (max-width: 520px) {
	.number {
		font-size: 20px;
		.phone-number {
			padding: 11px 0px 7px 60px;
		}
	}
	.enrol-online h2 {
		font-size: 18px;
		margin-top: 15px;
	}
	.header-page form {
		width: 320px;
		padding: 25px 30px;
	}
}
@media only screen and (max-width: 430px) {
	.number {
		font-size: 16px;
		.phone-number {
			padding: 15px 0px 7px 60px;
		}
	}
}
@media only screen and (max-width: 370px) {
	.number {
		font-size: 16px;
		.phone-number {
			padding: 15px 0px 7px 50px;
		}
	}
}
@media only screen and (max-width: 330px) {
	.number {
		font-size: 14px;
		.phone-number {
			padding: 15px 0px 7px 50px;
		}
	}
}