<!-- BEGIN about-us -->
<section class="about-us">
	<div class="container">
		<h2 class="about-us__title">О компании</h2>
		<p class="about-us__descr">«Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России.</p>
		<p class="about-us__descr">Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.</p>

		<div class="advantages">
			<div class="advantages__item">
				{{mixins.icon('ten-years')}}
				<h3 class="advantages__text">10 лет опыта</h3>
			</div>
			<div class="advantages__item">
				{{mixins.icon('garant')}}
				<h3 class="advantages__text">Гарантия 3 года на работы,10 лет на материалы</h3>
			</div>
			<div class="advantages__item">
				{{mixins.icon('work')}}
				<h3 class="advantages__text">Работа по договору</h3>
			</div>
			<div class="advantages__item">
				{{mixins.icon('calculate')}}
				<h3 class="advantages__text">Точность расчетов без доп. счетов</h3>
			</div>
			<div class="advantages__item">
				{{mixins.icon('free-ship')}}
				<h3 class="advantages__text">Бесплатная доставка</h3>
			</div>
			<div class="advantages__item">
				{{mixins.icon('all-time')}}
				<h3 class="advantages__text">Монтаж круглый год</h3>
			</div>
		</div>
	</div>
</section>
<!-- END about-us -->
