<!-- BEGIN choose-color -->
<section class="colors">
	<div class="container">
		<div class="colors__item colors__item_left">
			<h2 class="colors__title">сайдинг</h2>
			<p class="colors__text">Сайдинг от «Альта-Профиль» – уникальный инновационный продукт. Он полностью соответствует международным стандартам качества и адаптирован к российским климатическим условиям.</p>
			<div class="colors__choose">
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-1.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-2.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-2.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-3.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-4.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-5.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>

			</div>
			<a class="colors__more" href="">Смотреть все</a>

			<div class="color__choose-separator"></div>
		</div>

		<div class="colors__item colors__item_right">
			<h2 class="colors__title">Панели</h2>
			<p class="colors__text">Элегантный цокольный сайдинг производства «Альта-Профиль» надежно защитит здание от механических повреждений и воздействия неблагоприятных климатических факторов.</p>
			<div class="colors__choose">
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-6.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-6.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-7.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-8.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-9.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>
				<div class="colors__choose-item">
					<img class="colors__choose-image" src="img/choose-color/choose-color-10.png" alt="">
					<a class="colors__overlay" href="#">Подробно</a>
				</div>

			</div>
			<a class="colors__more" href="">Смотреть все</a>
		</div>
	</div>
</section>
<!-- END choose-color -->
