{% import 'data/navigation.html' as data %}
<!-- BEGIN footer -->
<footer class="footer">
	<div class="container">
		<div class="footer__logo">
			<img src="img/logo.png" alt="">
			<p class="footer__logo-text">
				«Бумеранг» © 2000-2014
			</p>
		</div>
		<div class="footer__nav">
			<ul class="footer__list">
			{% for navitems in data.navigation %}
				<li class="footer__item"><a href="#">{{navitems.item}}</a></li>
			{% endfor %}				
			</ul>

			<div class="footer__phone-icon">{{mixins.icon('footer-tel')}}</div>
			<a class="footer__phone" href="tel:88005557773"><span>8(800)</span> 555 777 3</a>

			<a class="footer__name" href="#">ADVcreative</a>
		</div>
	</div>
</footer>
<!-- END footer -->

