<!-- BEGIN gallery -->
<section class="gallery">
	<div class="container">
		<h3 class="gallery__title">галерея модных домов</h3>
	
	<div class="gallery__wrap">
		<div class="gallery__slider">
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_1"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_2" ></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_3"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_4"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_5"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_1"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_2" ></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_3"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_4"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<div class="gallery__slider-image gallery__slider-image_5"></div>
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div> 
		</div>
	</div>
	</div>
</section>
<!-- END gallery -->
