<!-- BEGIN gallery -->
<section class="gallery">
	<div class="container">
		<h3 class="gallery__title">галерея модных домов</h3>
	
	<div class="gallery__wrap">
		<div class="gallery__slider">
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-1.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-2.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-3.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-4.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-5.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-1.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-2.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-3.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-4.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
			<div class="gallery__slider-item">
				<img class="gallery__slider-image" src="img/slider-5.jpg" alt="">
				<div class="gallery__slider-overlay">
					Сайдинг виниловый
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<!-- END gallery -->
