<!-- BEGIN news -->
<section class="news">
	<div class="container">
		<h3 class="news__title">Новости</h3>

		<div class="latest-news">
			<div class="latest-news__image">
				<img src="img/news-image.jpg" alt="">
			</div>
			<div class="latest-news__text">
				<a class="latest-news__text-title" href="#">
					Поступление нового сайдинга
				</a>
				<div class="latest-news__text-date">
					21.06.2014
				</div>
				<div class="latest-news__text-descr">
					Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов, а также современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от 
				</div>
			</div>
		</div>

		<div class="latest-news">
			<div class="latest-news__image">
				<img src="img/news-image-2.jpg" alt="">
			</div>
			<div class="latest-news__text">
				<a class="latest-news__text-title" href="#">
					Поступление нового сайдинга
				</a>
				<div class="latest-news__text-date">
					21.06.2014
				</div>
				<div class="latest-news__text-descr">
					Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов, а также современный облицовочный материал. Хорошо моется. Не трескается зимой, в
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END news -->
