<!-- BEGIN reviews and professionals -->
<section class="reviews">
	<div class="container">
		<div class="reviews__item">
			<h3 class="reviews__title">Отзывы</h3>
			<div class="reviews__wrap">
				<div class="review">
					<img src="img/review-man.png" alt="">
					<h4 class="review__people-name">Пантелеймон Христарождественский</h4>
					<p class="review__people-text">
						Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов.
					</p>
				</div>
				<div class="review">
					<img src="img/review-woman.png" alt="">
					<h4 class="review__people-name">Виктория Лебедева</h4>
					<p class="review__people-text">
						Современный облицовочный материал. Хорошо моется. Не трескается зимой, в отличие от вагонки. Надежный. Огромный выбор расцветок и материалов. Спасибо!  
					</p>
				</div>
			</div>
			<a class="reviews__all-news" href="">Все новости</a>
			<div class="reviews__separator"></div>
		</div>

		<div class="сall-professional__item">
			<h3 class="сall-professional__title">вызов специалиста</h3>
			<form class="professional__form" action="">
				<input type="text" class="professional__form-name" placeholder="Имя">
				<input type="tel" class="professional__form-phone" placeholder="Телефон">
				<input type="text" class="professional__form-adress" placeholder="Адрес">
				<textarea cols="30" rows="7" class="professional__form-comment" placeholder="Комментарий"></textarea>

				<input class="professional__form-button" type="submit" value="Вызвать">
			</form>

		</div>
	</div>
</section>
<!-- END reviews and professionals -->
