<!-- BEGIN services -->
<section class="services">
	<div class="container">
		<div class="services__item">
			<img class="services__image" src="img/services-plant.jpg" alt="">
			<div class="services__title">установка</div>
			<div class="services__descr">Выезд специалиста бесплатно</div>
		</div>
		<div class="services__item">
			<img class="services__image" src="img/services-sale.jpg" alt="">
			<div class="services__title">продажа</div>
			<div class="services__descr">Расчет бесплатно</div>
		</div>
		<div class="services__item">
			<img class="services__image" src="img/services-repair.jpg" alt="">
			<div class="services__title">Ремонт квартир</div>
		</div>
		<div class="services__item">
			<img class="services__image" src="img/services-build.jpg" alt="">
			<div class="services__title">каркасное деревянное строительство (беседки, баки)</div>
		</div>
	</div>
</section>
<!-- END services -->
