{% set 
votes = [
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	},
	{
		image: '../img/main-house.jpg',
		name: 'ЖК Future Home',
		descr: 'Строительная компания «Номад Строй ЭК»'
	}


] 
%}