
.header 
	padding-top: 11px
	padding-bottom: 5px
	background-color: #FFF
	+r(950)
		padding-left: 15px
		padding-right: 15px

.logo 
	width: 50%
	float: left
	+r(950)
		padding-left: 15px
		padding-right: 15px	
	+r(480)
		width: 100%
		text-align: center
		margin-bottom: 20px


.callback 
	width: 50%
	float: right
	position: relative
	+r(480)
		width: 100%

.services__item 
	width: 25%
	height: 336px
	float: left
	overflow: hidden
	position: relative
	+r(768)
		width: 50%

	+r(520)
		width: 100%

.colors__item 
	width: 50%
	float: left
	padding-top: 45px
	padding-bottom: 45px
	position: relative
	+r(768)
		width: 100%


.colors__choose-item
	width: 15.50%
	margin: 0px 2.5px
	float: left
	position: relative
	+r(480)
		width: 24.3%

.about-us__advantages-item
	width: 16.66%
	float: left
	text-align: center
	+r(650)
		width: 33.3%
		height: 150px
	+r(480)
		width: 50%

.reviews__item, 
.сall-professional__item
	width: 50%
	float: left
	+r(768)
		width: 100%

.reviews__people
	width: 50%
	float: left
	+r(480)
		width: 100%

.news__item
	width: 50%
	float: left
	+r(768)
		width: 100%
		margin: 15px 0px

.footer__logo
	width: 21%
	float: left
	+r(950)
		width: 100%
		text-align: center

.footer__nav
	width: 79%
	float: left
	+r(950)
		width: 100%