// ----- fonts ----- //
$font-merriweather: 'Merriweather', serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// ----- colors ----- //
$text-color: #83a7a5;
$title-color: #0f5f5c;
$grey-bg: #eef1ec;
// ----- btn ----- //
$green-btn: #6fb048;
$grey-btn: #83a7a5;