{% set 

newsItem = [
	{
		date: '22.06.14 - 7:24',
		text: 'Председатель парламента Александр Турчинов обратился к людям, заблокировавшим улицу Грушевского, прямо из зала.'
	},
	{
		date: '21.06.14 - 8:03',
		text: 'Фракцию Коммунистической партии Украины покинули сразу два депутата.',
		headtext: true
	},
	{
		date: '23.06.14 - 23:18',
		text: 'В ходе антитеррористической операции на Луганщине ликвидировано укрепление боевиков и взят мост через Северский...',
		headtext: true
	},
	{
		date: '27.06.14 - 8:34',
		text: 'Блокпост АТО №1 штурмовали 8 российских танков. Погибли 4 военнослужащих.',
		headtext: true
	},
	{
		date: '23.06.14 - 7:45',
		text: 'Украинский комментатор в прямом эфире спел известный хит про Путина.'
	},
	{
		date: '24.06.14 - 23:30',
		text: 'Международные дипломаты дружно поддержали идею Путина.'
	},
	{
		date: '25.06.14 - 8:40',
		text: 'Сепаратисты ДНР берут под контроль банковскую систему Донецкой области.',
		headtext: true
	},
	{
		date: '24.06.14 - 23:30',
		text: 'Украинские военные отказались от более надежных бронежилетов ради подвижности. Эксперты считают это ошибкой.'
	},
	{
		date: '26.06.14 - 23:49',
		text: 'Два блокпоста АТО возле Славянска боевики атаковали с применением «Града» и танков. Есть раненые /обновлено/.',
		headtext: true
	},
	{
		date: '24.06.14 - 0:20',
		text: 'Во Львове видного налоговика подвели его «волосатые руки».'
	}

]
%}

{% set

article = [
	{
		date: '24.06.14 - 0:20',
		categories: 'Тенденции',
		title: 'Рада, пора на выход!',
		author: 'Максим Михайленко',
		text: 'Седьмой парламентский созыв публично агонизирует. Хотя в Верховной Раде зарегистрирован законопроект о самороспуске, это вовсе не означает, что парламентарии спешат на досрочные выборы.'
	},
	{
		date: '19.06.14 - 8:41',
		categories: 'Размышления',
		title: 'Сосед-агрессор',
		author: 'Дарина Сож',
		text: 'В наш век развитых технологий простое человеческое общение вместо привычных живых встреч, и уж тем более бумажных писем, все более сводится к мобильной связи и социальным сетям. Легко и удобно. Если бы не одно НО.'
	}
]

%}


{% set 

vote = [
	{
		value: 'value',
		type: 'radio',
		text: 'Поубивать всех "ватников" и зажарить их сердца на медленном огне'
	},
	{
		value: 'value1',
		type: 'radio',
		text: 'Сбросить на Луганскую и Донецкую области атомную бомбу'
	},
	{
		value: 'value2',
		type: 'radio',
		text: 'Начать переговоры с лидерами ЛНР и ДНР'
	},
	{
		value: 'value3',
		type: 'radio',
		text: 'Отдать Донецк и Луганск России'
	},
	{
		value: 'value4',
		type: 'radio',
		text: 'Выстроить по всей границе с РФ 5-метровую стальную стену'
	},
	{
		value: 'value5',
		type: 'radio',
		text: 'Отмотать время назад...'
	}
]

%}

{% set
 
navigation = [
	{
		item: "Новости",
		active: false
	},
	{
		item: "Фото",
		active: false
	},
	{
		item: "Видео",
		active: false
	},	
	{
		item: "Статьи",
		active: false
	},	
	{
		item: "Интервью",
		active: false
	},	
	{
		item: "Колонка",
		active: false
	},	
	{
		item: "Письмо",
		active: false
	},
	{
		item: "Зразы",
		active: false
	},	
	{
		item: "Дайджест",
		active: true
	},
	{
		item: "Опрос",
		active: false
	},	
	{
		item: "Авторы",
		active: false
	}
]

%}
