.header-about {
	background: url(../img/about-bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 660px;
	position: relative;	
}
.welcome-about {
	color: #fff;
	font-family: $font-roboto;
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
	& h2 {
		font-size: 50px;
		font-weight: 400;
		margin: 15px 0;
	}
}
.btn-about {
	font-family: $font-montserrat;
	background: rgba(0,0,0, .5);
	padding: 20px 40px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
		outline: 0;
		color: #fff;
	}
}
.our-team {
	padding-top: 85px;
	padding-bottom: 85px;
	background: $grey-bg;
	color: $text-color;
	font-family: $font-roboto;
	text-align: center;
	& h2 {
		color: $title-color;
		font-weight: 300;
		font-size: 32px;
		margin: 0;
	}
	& hr {
		width: 65px;
		border: 1px solid #6fb048;
	}
	& p {
		font-weight: 400;
		font-size: 15px;
	}
	& span {
		color: $title-color;
		font-size: 15px;
	}
}
.about-happy {
	text-align: left;
	& p {
		font-size: 14px;
	}
}
.download-about {
	background: url("../img/download-about.jpg") no-repeat center center;
	background-size: cover;
	padding: 60px 0px;
	font-family: $font-roboto;
	& h2 {
		font-weight: 300;
		color: #fff;
		font-size: 28px;
		margin: 0;
		padding: 0;
	}
	& p {
		font-size: 15px;
		font-weight: 400;
		color: #fff;
	}
}	
@media only screen and (max-width : 992px) { 
	.welcome-about {
		margin-top: 60px;
		& h2 {
			font-size: 40px;
		}
	}
	.about-happy {
		text-align: center;
	}
}
@media only screen and (max-width : 768px) {
	.welcome-about h2 {
		font-size: 35px;
	}
	footer,
	footer h2,
	footer h3,
	footer li {
		text-align: center;
	}	
}