.logo-contact {
	& h1 {
		font-weight: 700;
		font-size: 31px;
		text-transform: uppercase;
		position: relative;
		color: $title-color;
		text-decoration: none;
		&::after {
			content: "";
			height: 26px;
			display: block;
			position: absolute;
			right: 15px;
			top: 9px;
			border-right: 1px solid #a8c1c0;
		}
	}
	& a {
		color: $title-color;
		text-decoration: none;
	}
}
.tel-contact {
	font-family: $font-montserrat;
	font-weight: 400;
	padding-top: 18px;
	& a {
		color: $text-color;
		font-size: 16px;
		text-decoration: none;
	}
	& i {
		margin-right: 8px;
		color: #a8c1c0;
	}
}
.menu-contact { 
	padding-top: 18px;
	font-size: 14px;
	float: right;
	font-family: $font-montserrat;
	& ul {
		text-transform: uppercase;
		padding: 0;
		display: block;
		& li {
			display: inline-block;
			padding-left: 35px;
			:hover,
			:active,
			:focus,
			:visited {
				text-decoration: none;
				outline: 0;
			}
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			color: #fff;
		}

		}
		& a {
			color: $text-color;
		}
	}
}
.active-contact {
	background: #6fb048;
	padding: 10px;
	border-radius: 2px;
	color: #fff !important;
}
.map {
	background: url(../img/maps.jpg) no-repeat center center;
	background-size: cover;
	min-height: 400px;
}
.get-in-touch {
	padding-top: 85px;
	padding-bottom: 85px;
	color: $text-color;
	font-family: $font-roboto;
	text-align: center;
	& h2 {
		color: $title-color;
		font-weight: 300;
		font-size: 32px;
		margin: 0;
	}
	& hr {
		width: 65px;
		border: 1px solid #6fb048;
	}
	& p {
		font-weight: 400;
		font-size: 15px;
	}
	& form {
		color: $text-color;
		text-align: left;
		margin-top: 50px;
	}
	& input,
	textarea {
		font-family: $font-roboto;
		padding: 10px 10px;
		width: 100%;
		margin-bottom: 20px;
		border: 1px solid #c1d3d2;
	}
	& input[type="submit"] {
		width: 200px;
		font-family: $font-montserrat;
		font-size: 13px;
		color: #fff;
		font-weight: 400;
		background: #6fb048;
		border-radius: 3px;
		outline: none;
		text-transform: uppercase;
	}
}
.contact-us {
	margin-top: 50px;
	border: 1px dashed #c1d3d2;
	padding: 25px 120px 25px 25px;
	font-family: $font-roboto;
	text-align: left;
	width: 333px;
	float: left;
	& h3 {
		color: $title-color;
		font-size: 22px;
		font-weight: 300;
		padding: 0;
		margin: 0;
	}
	& ul {
		list-style: none;
		padding-left: 0;
		& li {
			position: relative;
			padding-left: 20px;
			font-size: 15px;
		}
	}
	& i {
		position: absolute;
		left: 0px;
		top: 2px;
		color: #6fb048;
	}
	& span {
		color: $title-color
	}
}
@media only screen and (max-width : 992px) {
	.get-in-touch {
		& form {
			text-align: center;
		}
		& input,
		textarea {
			width: 400px;
			text-align: left;
		}
		& input[type="submit"] {
			
			text-align: center;
		}	
	}
	.contact-us {
		float: none;
		margin: 50px auto;
	}
	.top-line-contact {
		text-align: center;
		border: none;
	}
	.menu-contact {
		float: none;
	}
	.logo h1 {
		&::after {
			content: "";
			display: none;
		}
	}
}
@media only screen and (max-width : 580px) {
	.menu-contact {
		& ul li {
			display: block;
			padding-left: 0;
			padding-bottom: 5px;
		}
	}
	.active-contact {
		background: #fff;
		color: $text-color !important;
	}
}
@media only screen and (max-width : 480px) {
	.get-in-touch {
		& input,
		textarea {
			width: 300px;
		}
	}
	.contact-us {
		width: 300px;
	}
}