@font-face {
  font-family: "Aparajita";
  src: url(fonts/aparaj.ttf);
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: .9px;
}

.logo {
  margin-top: 20px;
  padding-left: 20px;
}

.menu-top ul {
  list-style: none;
}
.menu-top ul li {
  display: inline-block;
  padding-left: 25px;
  padding-top: 5px;
}
.menu-top ul li a {
  color: #434343;
}

.navbar-default {
  background: #fff;
  border-color: #fff;
}

.top-blocks {
  margin-left: 1px;
  background: #f6f6f6;
  text-align: right;
}
.top-blocks .blue-block {
  position: relative;
  background: #05aecc;
  padding: 33px 28px;
  display: inline-block;
}
.top-blocks .pink-block {
  position: relative;
  background: #f0626e;
  padding: 33px 28px;
  display: inline-block;
}
.top-blocks a {
  color: #fff;
}
.top-blocks a:hover, .top-blocks a:active, .top-blocks a:visited, .top-blocks a:focus {
  text-decoration: none;
}
.top-blocks img {
  padding-left: 10px;
  position: absolute;
}

.blue-default {
  display: inline-block;
  position: relative;
  padding: 33px 55px 33px 28px;
  background: #05aecc;
}

.pink-default {
  display: inline-block;
  position: relative;
  padding: 33px 55px 33px 28px;
  background: #f0626e;
}

.nav-main {
  margin-top: 10px;
  background: #05aecc;
  text-align: center;
}
.nav-main ul {
  padding: 0;
  margin: 0;
  border: none;
}
.nav-main ul li {
  display: inline-block;
}
.nav-main ul li:hover {
  background: #fff;
}
.nav-main ul li a {
  padding: 25px;
  display: block;
  color: #fff;
  height: 100%;
  width: 100%;
}
.nav-main ul li a:hover {
  color: #ef5966;
  text-decoration: none;
}
.nav-main ul li a:focus {
  color: #ef5966;
  text-decoration: none;
  background: #fff;
}
.nav-main ul li a:active
.nav-main ul li a:visited {
  text-decoration: none;
}
.nav-main ul li li {
  border: none;
}
.nav-main ul li li a {
  color: #ef5966;
  padding: 0;
  font-size: 16px;
  padding-bottom: 5px;
}
.nav-main ul li li p {
  color: #454545;
  font-size: 14px;
  line-height: .9;
  letter-spacing: 0;
  padding: 25px 20px;
  margin: 0;
}
.nav-main ul li li img {
  text-align: left;
  padding-right: 10px;
}
.nav-main ul li li button {
  margin-top: 11px;
  font-size: 14px;
}
.nav-main ul li li hr {
  background: #cacaca center center;
  margin: 0;
}
.nav-main ul li li:last-child {
  padding: 10px 20px;
  display: block;
}
.nav-main ul li li:last-child a:hover {
  background: #fff;
}
.nav-main ul ul {
  margin-top: 2px;
}

.dropdown-menu {
  min-width: 260px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
}

.btn-more {
  background: #05aecc;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
  border: none;
}

.banners {
  margin-top: 15px;
}

.men,
.women,
.baby,
.crafts,
.jewelry {
  background: #142251;
  position: relative;
  overflow: hidden;
}
.men img,
.women img,
.baby img,
.crafts img,
.jewelry img {
  transition: all 1s ease-out;
}
.men img:hover,
.women img:hover,
.baby img:hover,
.crafts img:hover,
.jewelry img:hover {
  transform: scale(1.1);
  opacity: .5;
}

.baby,
.crafts,
.jewelry {
  margin-top: 5px;
}

.text-block {
  text-align: left;
  position: absolute;
  bottom: 45px;
  left: 0;
  background: rgba(54, 42, 79, 0.8);
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 15px 28px;
}
.text-block .title-text {
  display: inline-block;
  font-size: 48px;
  text-transform: uppercase;
  color: #ef5966;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}
.text-block .text {
  font-size: 13px;
  letter-spacing: 0;
  color: #fff;
  text-transform: uppercase;
}

.buttom-text {
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-top: 5px;
  background: #f0626e;
  color: #fff;
  padding: 5px 16px;
  text-transform: uppercase;
}

.hover-title {
  opacity: 0;
  position: absolute;
  bottom: 25px;
  right: 0;
  font-size: 16px;
  color: #fff;
}
.hover-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hover-title ul li {
  display: inline-block;
  padding: 25px 10px;
  float: left;
  margin: 0;
  color: #fff;
}
.hover-title ul li a {
  text-decoration: none;
  padding: 25px 10px;
}
.hover-title .hover-title-first {
  background: #05aecc;
  position: relative;
}
.hover-title .hover-title-first:hover {
  opacity: .8;
}
.hover-title .hover-title-first:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 20px;
}
.hover-title .present {
  background: #00a1be url(../img/present-icon.png) no-repeat center center;
  width: 50px;
  position: relative;
}
.hover-title .present:hover {
  opacity: .8;
}
.hover-title .present:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: -25px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 20px;
}
.hover-title .cart {
  background: #f0626e url(../img/cart-icon.png) no-repeat center center;
  width: 50px;
  position: relative;
}
.hover-title .cart:hover {
  opacity: .8;
}
.hover-title .cart:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: -30px;
  right: -30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 18px;
}
.hover-title .hover-price {
  background: #323232;
  padding: 19px 10px;
}
.hover-title .hover-price:hover {
  opacity: .8;
}

.dollar {
  font-size: 24px;
}

.min-count {
  font-size: 14px;
  padding-bottom: 5px;
}

.men:hover .hover-title,
.women:hover .hover-title,
.baby:hover .hover-title,
.crafts:hover .hover-title-crafts,
.jewelry:hover .hover-title-jewelry,
.jewelry:hover .hover-jewelry,
.jewelry:hover .arrow,
.img-fill:hover .hover-title {
  outline: none;
  opacity: 1;
  transition: opacity .7s;
}

.men:hover .text-block,
.men:hover .buttom-text,
.women:hover .text-block-women,
.baby:hover .text-block-women {
  display: none;
  transition: opacity .7s;
}

.left-padding {
  padding-right: 5px;
}

.right-padding {
  padding-left: 0px;
}

.text-block-women {
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 0;
  background: rgba(54, 42, 79, 0.8);
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 15px 28px;
}
.text-block-women .title-text {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  color: #ef5966;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}
.text-block-women .text {
  font-size: 13px;
  letter-spacing: 0;
  color: #fff;
  text-transform: uppercase;
}

.search {
  padding: 50px 55px;
  margin-top: 5px;
  background: #f0626e;
  color: #424242;
}
.search form {
  font-size: 16px;
}
.search form input {
  padding: 25px 20px;
  border: none;
  outline: none;
}

.hover-title-crafts {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  color: #fff;
}
.hover-title-crafts ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hover-title-crafts ul li {
  display: inline-block;
  padding: 25px 10px;
  float: left;
  margin: 0;
  color: #fff;
}
.hover-title-crafts ul li a {
  text-decoration: none;
  padding: 25px 10px;
}
.hover-title-crafts .hover-crafts {
  background: #362a4f;
  font-size: 30px;
  text-transform: uppercase;
  padding: 15px 45px;
  position: relative;
}
.hover-title-crafts .hover-crafts:hover {
  opacity: .8;
}
.hover-title-crafts .hover-crafts:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: 60px;
  text-transform: lowercase;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 25px;
}
.hover-title-crafts .present {
  background: #00a1be url(../img/present-icon.png) no-repeat center center;
  width: 50px;
  position: relative;
}
.hover-title-crafts .present:hover {
  opacity: .8;
}
.hover-title-crafts .present:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: -25px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 20px;
}
.hover-title-crafts .cart {
  background: #f0626e url(../img/cart-icon.png) no-repeat center center;
  width: 50px;
  position: relative;
}
.hover-title-crafts .cart:hover {
  opacity: .8;
}
.hover-title-crafts .cart:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px;
  left: -30px;
  right: -30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 18px;
}
.hover-title-crafts .hover-price {
  background: #323232;
  padding: 19px 10px;
}
.hover-title-crafts .hover-price:hover {
  opacity: .8;
}

.hover-title-jewelry {
  opacity: 0;
}
.hover-title-jewelry ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hover-title-jewelry ul li {
  display: inline-block;
  margin: 0;
  color: #fff;
}
.hover-title-jewelry ul li a {
  text-decoration: none;
  padding: 25px 10px;
  color: #fff;
}
.hover-title-jewelry .hover-jewelry {
  opacity: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 140px;
  position: absolute;
  bottom: 182px;
  right: -180px;
  background: #362a4f;
  font-size: 60px;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
.hover-title-jewelry .hover-jewelry:hover {
  opacity: .8;
}
.hover-title-jewelry .arrow {
  opacity: 0;
  background: url(../img/arrow-icon.png) no-repeat;
  height: 98px;
  width: 98px;
  z-index: 1000;
  position: absolute;
  top: 100px;
  right: 0;
}

.product-items {
  width: 275px;
  margin: 0 auto;
}
.product-items ul {
  margin-bottom: 0;
  padding: 0;
}
.product-items ul li {
  list-style: none;
}
.product-items .arrows-product {
  float: left;
  background: url(../img/arrow-product.jpg) no-repeat center center;
  height: 12px;
  width: 19px;
  padding: 25px;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.product-items .arrows-product:hover {
  opacity: .8;
}
.product-items .arrows-product:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -30px;
  left: -7px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 18px;
}
.product-items .present-product {
  float: left;
  background: url(../img/present-product.png) no-repeat center center;
  height: 18px;
  width: 15px;
  padding: 25px;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.product-items .present-product:hover {
  opacity: .8;
}
.product-items .present-product:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -30px;
  left: -20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 18px;
}
.product-items .cart-product {
  float: left;
  background: url(../img/cart-product.png) no-repeat center center;
  height: 15px;
  width: 17px;
  padding: 25px;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.product-items .cart-product:hover {
  opacity: .8;
}
.product-items .cart-product:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f0626e;
  color: #000;
  font-size: 13px;
  padding: 5px 18px;
}
.product-items .price-product {
  float: left;
  background: #f0626e;
  padding: 8px 26px 8px 22px;
  color: #fff;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.product-items .price-product:hover {
  opacity: .8;
}
.product-items .price-product-new {
  float: left;
  background: #05aecc;
  padding: 8px 26px 8px 22px;
  color: #fff;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.product-items .price-product-new:hover {
  opacity: .8;
}

.salary {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #f0626e;
  padding: 10px 5px;
}

.new {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #05aecc;
  padding: 10px 20px;
}

.about p {
  padding: 20px;
}

.title-about {
  font-size: 30px;
  color: #05aecc;
  border-bottom: 1px solid #b9b9b9;
  width: 100%;
  padding-left: 20px;
  line-height: 50px;
  position: relative;
}
.title-about::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 180px;
  border-bottom: 1px solid #f0626e;
}

.buttom-bloks-chose {
  float: left;
  margin-right: 25px;
  display: inline-block;
  background-image: url(../img/chose-icon.png);
  background-color: #434343;
  background-repeat: no-repeat;
  background-position: 30px 30px;
  text-align: left;
  padding: 77px 38px 0px 200px;
  font-size: 30px;
  height: 230px;
  color: #fff;
}
.buttom-bloks-chose:hover, .buttom-bloks-chose:focus, .buttom-bloks-chose:active, .buttom-bloks-chose:visited {
  color: #fff;
  text-decoration: none;
}

.buttom-bloks-register {
  float: left;
  margin-right: 25px;
  display: inline-block;
  background-image: url(../img/register-icon.png);
  background-color: #05aecc;
  background-repeat: no-repeat;
  background-position: 30px 30px;
  text-align: left;
  padding: 77px 35px 0px 200px;
  font-size: 30px;
  height: 230px;
  color: #fff;
}
.buttom-bloks-register:hover, .buttom-bloks-register:focus, .buttom-bloks-register:active, .buttom-bloks-register:visited {
  color: #fff;
  text-decoration: none;
}

.buttom-bloks-checkout {
  float: left;
  display: inline-block;
  background-image: url(../img/checkout-icon.png);
  background-color: #f0626e;
  background-repeat: no-repeat;
  background-position: 30px 30px;
  text-align: left;
  padding: 77px 35px 0px 200px;
  font-size: 30px;
  height: 230px;
  color: #fff;
}
.buttom-bloks-checkout:hover, .buttom-bloks-checkout:focus, .buttom-bloks-checkout:active, .buttom-bloks-checkout:visited {
  color: #fff;
  text-decoration: none;
}

.buttom-bloks {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.register-now {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 27px;
  background: #05aecc;
  padding: 15px 230px;
  margin: 30px 0px;
}
.register-now:hover, .register-now:focus, .register-now:active, .register-now:visited {
  color: #fff;
  text-decoration: none;
}

footer {
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  padding: 35px 0px;
}
footer h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #434343;
  text-align: left;
  margin-bottom: 40px;
}
footer h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #434343;
  text-align: left;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  list-style: none;
  color: #676767;
  font-size: 16px;
}
footer input {
  border: 1px solid #dedede;
  padding: 25px 86px;
  outline: none;
  color: #434343;
  text-align: center;
}
footer input[type=submit] {
  background: #05aecc;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 25px 109px 25px 110px;
}
footer button {
  display: block;
  background: #05aecc;
  border: none;
  outline: none;
  padding: 25px 0px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  min-width: 376px;
}

.copyright {
  padding: 25px 0px;
  font-size: 14px;
  color: #434343;
}
.copyright span {
  color: #ef5966;
}
.copyright .copy {
  float: left;
}
.copyright .author {
  float: right;
}

@media only screen and (max-width: 1200px) {
  .buttom-bloks-chose {
    float: none;
  }

  .buttom-bloks-register {
    float: none;
  }

  .buttom-bloks-checkout {
    float: none;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 992px) {
  .menu-top ul {
    padding: 0px;
    text-align: center;
  }
  .menu-top ul li {
    padding-left: 20px;
  }

  .top-blocks {
    background: #fff;
  }

  .buttom-bloks-register {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .top-blocks {
    text-align: center;
  }

  .logo {
    text-align: center;
  }

  .register-now {
    padding: 15px 130px;
  }
}
@media only screen and (max-width: 768px) {
  .register-now {
    padding: 15px 100px;
  }
}
@media only screen and (max-width: 402px) {
  .register-now {
    padding: 15px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
