.icon-all-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calculate {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-callback-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-footer-tel {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-free-ship {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-garant {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ten-years {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-work {
  width: 1em;
  height: 1em;
  fill: initial;
}
