<section class="about">
	<div class="container">
		<div class="about__item">
			<div class="about__item-description">
				<div class="logo-blue logo-blue_about"></div>

				<ul class="about__item-list">
					<li class="about__item-list-point about__item-list-point_town">{{mixins.icon('about-town')}}Cотни лучших предложений первичной недвижимости по всему Казахстану</li>
					<li class="about__item-list-point about__item-list-point_houses">{{mixins.icon('about-houses')}}Более чем 27 тысяч проверенных объявлений о продаже вторичной недвижимости </li>
				</ul>
			</div>

			<a href="https://homsters.kz/" target="_blank" class="about__item-btn">Лучшее жилье Казахстана на Homsters.kz</a>
		</div>
	</div>
</section>