<footer class="footer">
	<div class="container">
		
		<div class="footer__item">
			<div class="footer__item-title">Результаты акции «Выбор народа» <br>и список получателей призов от </div>
			<div class="footer__item-image">
				<img src="img/logo.png" alt="">
			</div>
			<p class="footer__item-descr">будут опубликованы на данной странице <strong>26 сентября 2016 года</strong> <br>а также на страницах <strong>Homsters.kz</strong> в социальных сетях.</p>
		</div>

		<div class="social">
			<div class="social-icon social-icon_facebook">
				<a href="#!">{{mixins.icon('facebook')}}</a>
			</div>
			<div class="social-icon social-icon_linkedin">
				<a href="#!">{{mixins.icon('linkedin')}} </a>
			</div>
			<div class="social-icon social-icon_vk">
				<a href="#!">{{mixins.icon('vk')}} </a>
			</div>
		</div>
	</div>
</footer>
