<header class="header">
	<div class="container">
		<div class="navigation">
			<a href="#" class="header__logo"></a>
	
			<div class="tagline">
				<h1 class="tagline__title">Выбор народа</h1>
				<p class="tagline__descr">Лучшее жилье Казахстана</p>
			</div>

			<div class="nav">
				<ul class="nav__list">
					<li><a href="#!" class="nav__list-item">{{mixins.icon('gramophone')}} Об акции</a></li>
					<li><a href="#!" class="nav__list-item">{{mixins.icon('present')}} Призы</a></li>
					<li><a href="#!" class="nav__list-item">{{mixins.icon('cup')}} Победители</a></li>
				</ul>
			</div>
		</div>
		
		<div class="header__choice">
			<div class="header__choise-title"></div>
			<div class="header__choice-town"></div>
			<a href="#" class="header__choice-btn">Сделайте свой выбор</a>
			<div class="header__choice-better">
				<h2 class="header__choice-better-home">Выберите лучшее<br>жилье{{mixins.icon('choice-arrow')}}</h2>
				<h2 class="header__choice-better-present">Выиграйте<br>семейный приз{{mixins.icon('choice-arrow')}}</h2>
			</div>
		</div>

	</div>
</header>