<header class="header">
	<div class="container">

		<a href="#" class="header__logo"></a>

		<div class="nav">
			<ul class="nav__list">
				<li><a href="#!" class="nav__list-item">{{mixins.icon('gramophone')}} Об акции</a></li>
				<li><a href="#!" class="nav__list-item">{{mixins.icon('present')}} Призы</a></li>
				<li><a href="#!" class="nav__list-item">{{mixins.icon('cup')}} Победители</a></li>
			</ul>
		</div>

		<div class="header__choice">
			<div class="header__choise-title"></div>
			<div class="header__choice-town"></div>
			<a href="#" class="header__choice-btn">Сделайте свой выбор</a>
			<div class="header__choice-better">
				<h2 class="header__choice-better-home">Выберите лучшее<br>жилье{{mixins.icon('choice-arrow')}}</h2>
				<h2 class="header__choice-better-present">Выиграйте<br>семейный приз{{mixins.icon('choice-arrow')}}</h2>
			</div>
		</div>

	</div>
</header>

<div class="stiky-nav">
	<a href="#!" class="stiky-nav__logo"></a>
	<div class="stiky-nav__tagline">
		<h1 class="stiky-nav__tagline-title">Выбор народа</h1>
		<p class="stiky-nav__tagline-descr">Лучшее жилье Казахстана</p>
	</div>
	<div class="nav nav_stiky">
		<ul class="nav__list">
			<li><a href="#!" class="nav__list-item nav__list-item_stiky">{{mixins.icon('gramophone')}} Об акции</a></li>
			<li><a href="#!" class="nav__list-item nav__list-item_stiky">{{mixins.icon('present')}} Призы</a></li>
			<li><a href="#!" class="nav__list-item nav__list-item_stiky">{{mixins.icon('cup')}} Победители</a></li>
		</ul>
	</div>

</div>