<div class="fill-modal" data-form="0">
	<div class="container">
		<div class="fill-modal__item">
			<img src="img/about-logo.png" alt="">

			<h2 class="fill-modal__title">Для участия в розыгрыше призов <br>заполните следующие поля и нажмите кнопку <br>«Проголосовать»</h2>

			<form action="" class="fill-modal__form">
				<input type="text" class="form-input" name="lastname" placeholder="Фамилия">
				<input type="text" class="form-input" name="name" placeholder="Имя">
				<input type="email" class="form-input" name="email" placeholder="E-mail">
				<button type="submit" class="form-btn">Проголосовать</button>
				<br>
				<input type="checkbox" id="confirm" name='confirm' class="form-confirm">
				<label for="confirm" class="form-confirm-label">Я соглашаюсь с 
				<a href="#"> официальными правилами участия</a> и даю согласие на обработку персональных данных</label>
			</form>

			<div class="modal-close js-form-close"></div>
		</div>
	</div>
	<div class="fill-modal__overlay"></div>
</div>

