<header class="shares">
	<div class="container">

		<div class="shares__text">
			<p class="shares__item-descr">Акция «Выбор народа. Лучшее жилье Казахстана» проводится международной онлайн-площадкой по продаже недвижимости <a href="#!">Homsters.kz.</a> Цель акции, как и самой площадки Homsters.kz, – помочь казахстанцам принимать продуманные решения при покупке жилья на основе надежного источника достоверной информации об интересующих их объектах.</p>
			<h3 class="shares__item-title">По результатам подсчета голосов будет выбран Топ-5 лучших жилых комплексов Казахстана. </h3>
			<p class="shares__item-descr">Для участия в голосовании выберите ваш город и лучший на ваш взгляд жилой комплекс из 40 представленных. Для голосования доступны только жилые комплексы, которые стали победителями <a href="#!">Второго онлайн-рейтинга популярности жилых комплексов Казахстана,</a> который ежеквартально составляется Homsters.kz.</p>
			<p class="shares__item-descr">Для участия в розыгрыше призов в рамках акции после выбора жилого комплекса заполните форму, указав фамилию, имя и e-mail. </p>
		</div>

		<div class="shares__cup">
			<div class="shares__cup-icon">
				{{mixins.icon('share-cup')}}
			</div>
			<a href="#!" class="shares__cup-btn">Проголосовать за лучшее жилье</a>
		</div>

	</div>
</header>
