<div class="vote-modal">
	<div class="container">
		<div class="vote-modal__window" data-modal="0">
		
			<div class="vote-image vote-image_cinema vote-image_modal"></div>

			<div class="vote-modal__window-info">
				<div class="vote-modal__window-title">Поход в кино <br>в “Тао-Spa” от <span class="logo-blue logo-blue_modal-title"></span></div>
				<p class="vote-modal__window-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей.</p>
				<p class="vote-modal__window-text">Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

				<a href="" class="vote-modal__window-link">Перейти к голосованию</a>
			</div>

			<div class="modal-close js-vote-close"></div>
		</div>

		<div class="vote-modal__window" data-modal="1">
		
			<div class="vote-image vote-image_dinner vote-image_modal"></div>

			<div class="vote-modal__window-info">
				<div class="vote-modal__window-title">Ужин в ресторане <br>в “Тао-Spa” от <span class="logo-blue logo-blue_modal-title"></span></div>
				<p class="vote-modal__window-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей.</p>
				<p class="vote-modal__window-text">Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

				<a href="" class="vote-modal__window-link">Перейти к голосованию</a>
			</div>

			<div class="modal-close js-vote-close"></div>
		</div>

		<div class="vote-modal__window" data-modal="2">
		
			<div class="vote-image vote-image_family vote-image_modal"></div>

			<div class="vote-modal__window-info">
				<div class="vote-modal__window-title">Отдых всей семьей <br>в “Тао-Spa” от <span class="logo-blue logo-blue_modal-title"></span></div>
				<p class="vote-modal__window-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей.</p>
				<p class="vote-modal__window-text">Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

				<a href="" class="vote-modal__window-link">Перейти к голосованию</a>
			</div>

			<div class="modal-close js-vote-close"></div>
		</div>
		<div class="vote-modal__overlay"></div>
	</div>
</div>