<section class="vote">
	<div class="container">
		<h2 class="vote__title">Голосуйте и выигрывайте приз для всей семьи от {{mixins.icon('vote-logo')}}</h2>

		<div class="vote__list">
			<div class="vote-image vote-image_cinema js-vote" data-modal="0">
				<p class="vote-image__text">Поход в кино</p>
				<span href="#" class="vote-image__more">Подробнее...</span>
			</div>
			<div class="vote-image vote-image_dinner js-vote" data-modal="1">
				<p class="vote-image__text">Ужин в ресторане</p>
				<span href="#" class="vote-image__more">Подробнее...</span>
			</div>
			<div class="vote-image vote-image_family js-vote" data-modal="2">
				<p class="vote-image__text">Семейный отдых</p>
				<span href="#" class="vote-image__more">Подробнее...</span>
			</div>
		</div>

		<a href="#!" class="vote__btn">Перейти к голосованию</a>
		<p class="vote__rules">Ознакомиться с <a href="#">официальными правилами</a><br> участия</p>
	</div>
</section>