<section class="vote">
	<div class="container">
		<h2 class="vote__title">Голосуйте и выигрывайте приз для всей семьи от {{mixins.icon('vote-logo')}}</h2>

		<div class="vote__list">
			<div class="vote__list-item vote__list-item_cinema">
				<p class="vote__list-item-text">Поход в кино</p>
				<a href="#" class="vote__list-item-more">Подробнее...</a>
			</div>
			<div class="vote__list-item vote__list-item_dinner">
				<p class="vote__list-item-text">Ужин в ресторане</p>
				<a href="#" class="vote__list-item-more">Подробнее...</a>
			</div>
			<div class="vote__list-item vote__list-item_family">
				<p class="vote__list-item-text">Семейный отдых</p>
				<a href="#" class="vote__list-item-more">Подробнее...
			</div>
		</div>

		<a href="#!" class="vote__btn">Перейти к голосованию</a>
		<p class="vote__rules">Ознакомиться с <a href="#">официальными правилами</a><br> участия</p>
	</div>
</section>