.icon-about-houses {
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.icon-about-town {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-choice-arrow {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-cup {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-gramophone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-present {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-share-cup {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-vote-logo {
  width: 4.79em;
  height: 1em;
  fill: initial;
}
