$icons: (0:0)
$icons: map-merge($icons,('about': (X: -116px, Y:-166px, W: 46px, H: 46px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-build': (X: -120px, Y:-224px, W: 30px, H: 29px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-review': (X: -236px, Y:-193px, W: 30px, H: 19px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-stores': (X: -80px, Y:-224px, W: 30px, H: 29px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-submit': (X: 0px, Y:-224px, W: 30px, H: 30px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('astrazeneca-logo': (X: 0px, Y:0px, W: 168px, H: 42px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('delegates': (X: -172px, Y:-166px, W: 48px, H: 42px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('eventbrite': (X: -58px, Y:-166px, W: 48px, H: 47px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('exhibitmaps': (X: -178px, Y:-58px, W: 48px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('exhibitors': (X: 0px, Y:-166px, W: 48px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -296px, Y:-25px, W: 11px, H: 19px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('google-logo': (X: 0px, Y:-52px, W: 135px, H: 46px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('google': (X: -195px, Y:-224px, W: 18px, H: 18px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('in': (X: -296px, Y:0px, W: 15px, H: 15px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram': (X: -52px, Y:-264px, W: 16px, H: 16px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('maps': (X: -178px, Y:0px, W: 48px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('news': (X: -236px, Y:-47px, W: 48px, H: 38px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pinterest': (X: 0px, Y:-264px, W: 15px, H: 20px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-blockuser': (X: -25px, Y:-264px, W: 17px, H: 17px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-hide': (X: -78px, Y:-264px, W: 16px, H: 16px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-user': (X: -145px, Y:-82px, W: 16px, H: 16px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('schedule': (X: -117px, Y:-108px, W: 48px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('speakers': (X: -236px, Y:-95px, W: 26px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sponsors': (X: 0px, Y:-108px, W: 49px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-comment': (X: -145px, Y:-52px, W: 20px, H: 20px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-heart': (X: -160px, Y:-224px, W: 25px, H: 19px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-more': (X: -223px, Y:-224px, W: 32px, H: 8px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-build': (X: -40px, Y:-224px, W: 30px, H: 29px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-manage': (X: -178px, Y:-116px, W: 30px, H: 30px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-measure': (X: -236px, Y:-153px, W: 30px, H: 30px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('twitter': (X: -104px, Y:-264px, W: 18px, H: 14px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('twitterfeed': (X: -236px, Y:0px, W: 50px, H: 37px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('webview': (X: -59px, Y:-108px, W: 48px, H: 48px, TW: 311px, TH: 284px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

.icon-about
 width: 46px
 height: 46px
 background-image: url('../img/sprite.png')
 background-position: -116px -166px
.icon-app-build
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -120px -224px
.icon-app-review
 width: 30px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: -236px -193px
.icon-app-stores
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -80px -224px
.icon-app-submit
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: 0px -224px
.icon-astrazeneca-logo
 width: 168px
 height: 42px
 background-image: url('../img/sprite.png')
 background-position: 0px 0px
.icon-delegates
 width: 48px
 height: 42px
 background-image: url('../img/sprite.png')
 background-position: -172px -166px
.icon-eventbrite
 width: 48px
 height: 47px
 background-image: url('../img/sprite.png')
 background-position: -58px -166px
.icon-exhibitmaps
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -178px -58px
.icon-exhibitors
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: 0px -166px
.icon-facebook
 width: 11px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: -296px -25px
.icon-google-logo
 width: 135px
 height: 46px
 background-image: url('../img/sprite.png')
 background-position: 0px -52px
.icon-google
 width: 18px
 height: 18px
 background-image: url('../img/sprite.png')
 background-position: -195px -224px
.icon-in
 width: 15px
 height: 15px
 background-image: url('../img/sprite.png')
 background-position: -296px 0px
.icon-instagram
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -52px -264px
.icon-maps
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -178px 0px
.icon-news
 width: 48px
 height: 38px
 background-image: url('../img/sprite.png')
 background-position: -236px -47px
.icon-pinterest
 width: 15px
 height: 20px
 background-image: url('../img/sprite.png')
 background-position: 0px -264px
.icon-popup-blockuser
 width: 17px
 height: 17px
 background-image: url('../img/sprite.png')
 background-position: -25px -264px
.icon-popup-hide
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -78px -264px
.icon-popup-user
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -145px -82px
.icon-schedule
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -117px -108px
.icon-speakers
 width: 26px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -236px -95px
.icon-sponsors
 width: 49px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: 0px -108px
.icon-tab-comment
 width: 20px
 height: 20px
 background-image: url('../img/sprite.png')
 background-position: -145px -52px
.icon-tab-heart
 width: 25px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: -160px -224px
.icon-tab-more
 width: 32px
 height: 8px
 background-image: url('../img/sprite.png')
 background-position: -223px -224px
.icon-tabs-build
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -40px -224px
.icon-tabs-manage
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -178px -116px
.icon-tabs-measure
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -236px -153px
.icon-twitter
 width: 18px
 height: 14px
 background-image: url('../img/sprite.png')
 background-position: -104px -264px
.icon-twitterfeed
 width: 50px
 height: 37px
 background-image: url('../img/sprite.png')
 background-position: -236px 0px
.icon-webview
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -59px -108px
