$icons: (0:0)
$icons: map-merge($icons,('about': (X: -116px, Y:-293px, W: 46px, H: 46px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('aol-organization': (X: -192px, Y:-239px, W: 69px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-build': (X: -384px, Y:-304px, W: 30px, H: 29px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-review': (X: -166px, Y:-202px, W: 30px, H: 19px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-separator': (X: -420px, Y:-48px, W: 12px, H: 30px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-stores': (X: -384px, Y:-265px, W: 30px, H: 29px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('app-submit': (X: -384px, Y:-146px, W: 30px, H: 30px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('astrazeneca-logo': (X: 0px, Y:0px, W: 168px, H: 42px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('astrazeneca-organization': (X: -178px, Y:-54px, W: 132px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('autodesk-logo': (X: 0px, Y:-202px, W: 156px, H: 27px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('autodesk-organization': (X: -178px, Y:0px, W: 137px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bloomberg-logo': (X: 0px, Y:-162px, W: 150px, H: 30px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bloomberg-organization': (X: 0px, Y:-108px, W: 139px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn-arrow-hover': (X: -424px, Y:-106px, W: 7px, H: 13px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn-arrow': (X: -424px, Y:-146px, W: 7px, H: 13px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('delegates': (X: -172px, Y:-293px, W: 48px, H: 42px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('disnei-organization': (X: -106px, Y:-239px, W: 76px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('eventbrite': (X: -58px, Y:-293px, W: 48px, H: 47px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('exhibitmaps': (X: 0px, Y:-293px, W: 48px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('exhibitors': (X: -325px, Y:-174px, W: 48px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: 0px, Y:-351px, W: 11px, H: 19px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('footer-arrow-hover': (X: -420px, Y:-88px, W: 4px, H: 6px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('footer-arrow': (X: -424px, Y:-129px, W: 4px, H: 6px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('google-logo': (X: 0px, Y:-52px, W: 135px, H: 46px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('google-organization': (X: 0px, Y:-239px, W: 96px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('google': (X: -149px, Y:-108px, W: 18px, H: 18px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('in': (X: -316px, Y:-293px, W: 15px, H: 15px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram': (X: -149px, Y:-136px, W: 16px, H: 16px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('maps': (X: -325px, Y:-232px, W: 48px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('news': (X: -384px, Y:0px, W: 48px, H: 38px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('philips-logo': (X: -160px, Y:-162px, W: 150px, H: 28px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('philips-organization': (X: -178px, Y:-108px, W: 122px, H: 44px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pinterest': (X: -271px, Y:-239px, W: 15px, H: 20px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-blockuser': (X: -296px, Y:-239px, W: 17px, H: 17px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-hide': (X: -290px, Y:-293px, W: 16px, H: 16px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('popup-user': (X: -145px, Y:-82px, W: 16px, H: 16px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('schedule': (X: -325px, Y:-116px, W: 48px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('speakers': (X: -384px, Y:-48px, W: 26px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sponsors': (X: -325px, Y:0px, W: 49px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-comment': (X: -145px, Y:-52px, W: 20px, H: 20px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-heart': (X: -206px, Y:-202px, W: 25px, H: 19px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tab-more': (X: -241px, Y:-202px, W: 32px, H: 8px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-build': (X: -384px, Y:-226px, W: 30px, H: 29px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-manage': (X: -384px, Y:-106px, W: 30px, H: 30px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tabs-measure': (X: -384px, Y:-186px, W: 30px, H: 30px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('twitter': (X: -271px, Y:-269px, W: 18px, H: 14px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('twitterfeed': (X: -230px, Y:-293px, W: 50px, H: 37px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('webview': (X: -325px, Y:-58px, W: 48px, H: 48px, TW: 432px, TH: 370px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

.icon-about
 width: 46px
 height: 46px
 background-image: url('../img/sprite.png')
 background-position: -116px -293px
.icon-aol-organization
 width: 69px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: -192px -239px
.icon-app-build
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -384px -304px
.icon-app-review
 width: 30px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: -166px -202px
.icon-app-separator
 width: 12px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -420px -48px
.icon-app-stores
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -384px -265px
.icon-app-submit
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -384px -146px
.icon-astrazeneca-logo
 width: 168px
 height: 42px
 background-image: url('../img/sprite.png')
 background-position: 0px 0px
.icon-astrazeneca-organization
 width: 132px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: -178px -54px
.icon-autodesk-logo
 width: 156px
 height: 27px
 background-image: url('../img/sprite.png')
 background-position: 0px -202px
.icon-autodesk-organization
 width: 137px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: -178px 0px
.icon-bloomberg-logo
 width: 150px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: 0px -162px
.icon-bloomberg-organization
 width: 139px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: 0px -108px
.icon-btn-arrow-hover
 width: 7px
 height: 13px
 background-image: url('../img/sprite.png')
 background-position: -424px -106px
.icon-btn-arrow
 width: 7px
 height: 13px
 background-image: url('../img/sprite.png')
 background-position: -424px -146px
.icon-delegates
 width: 48px
 height: 42px
 background-image: url('../img/sprite.png')
 background-position: -172px -293px
.icon-disnei-organization
 width: 76px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: -106px -239px
.icon-eventbrite
 width: 48px
 height: 47px
 background-image: url('../img/sprite.png')
 background-position: -58px -293px
.icon-exhibitmaps
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: 0px -293px
.icon-exhibitors
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -325px -174px
.icon-facebook
 width: 11px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: 0px -351px
.icon-footer-arrow-hover
 width: 4px
 height: 6px
 background-image: url('../img/sprite.png')
 background-position: -420px -88px
.icon-footer-arrow
 width: 4px
 height: 6px
 background-image: url('../img/sprite.png')
 background-position: -424px -129px
.icon-google-logo
 width: 135px
 height: 46px
 background-image: url('../img/sprite.png')
 background-position: 0px -52px
.icon-google-organization
 width: 96px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: 0px -239px
.icon-google
 width: 18px
 height: 18px
 background-image: url('../img/sprite.png')
 background-position: -149px -108px
.icon-in
 width: 15px
 height: 15px
 background-image: url('../img/sprite.png')
 background-position: -316px -293px
.icon-instagram
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -149px -136px
.icon-maps
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -325px -232px
.icon-news
 width: 48px
 height: 38px
 background-image: url('../img/sprite.png')
 background-position: -384px 0px
.icon-philips-logo
 width: 150px
 height: 28px
 background-image: url('../img/sprite.png')
 background-position: -160px -162px
.icon-philips-organization
 width: 122px
 height: 44px
 background-image: url('../img/sprite.png')
 background-position: -178px -108px
.icon-pinterest
 width: 15px
 height: 20px
 background-image: url('../img/sprite.png')
 background-position: -271px -239px
.icon-popup-blockuser
 width: 17px
 height: 17px
 background-image: url('../img/sprite.png')
 background-position: -296px -239px
.icon-popup-hide
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -290px -293px
.icon-popup-user
 width: 16px
 height: 16px
 background-image: url('../img/sprite.png')
 background-position: -145px -82px
.icon-schedule
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -325px -116px
.icon-speakers
 width: 26px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -384px -48px
.icon-sponsors
 width: 49px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -325px 0px
.icon-tab-comment
 width: 20px
 height: 20px
 background-image: url('../img/sprite.png')
 background-position: -145px -52px
.icon-tab-heart
 width: 25px
 height: 19px
 background-image: url('../img/sprite.png')
 background-position: -206px -202px
.icon-tab-more
 width: 32px
 height: 8px
 background-image: url('../img/sprite.png')
 background-position: -241px -202px
.icon-tabs-build
 width: 30px
 height: 29px
 background-image: url('../img/sprite.png')
 background-position: -384px -226px
.icon-tabs-manage
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -384px -106px
.icon-tabs-measure
 width: 30px
 height: 30px
 background-image: url('../img/sprite.png')
 background-position: -384px -186px
.icon-twitter
 width: 18px
 height: 14px
 background-image: url('../img/sprite.png')
 background-position: -271px -269px
.icon-twitterfeed
 width: 50px
 height: 37px
 background-image: url('../img/sprite.png')
 background-position: -230px -293px
.icon-webview
 width: 48px
 height: 48px
 background-image: url('../img/sprite.png')
 background-position: -325px -58px
