.icon-actrazeneca-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-actrazeneca-graph {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-actrazeneca-percent {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-astrazeneca-logo {
  width: 4.01em;
  height: 1em;
  fill: #2d2a6e;
}
.icon-autodesk-heart {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-autodesk-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-autodesk-message {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-bloomberg-chat {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-bloomberg-fly {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-bloomberg-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-build {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-control {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-man {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-phone {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-google-secondman {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-philips-bigmail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-philips-camera {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-philips-illustr {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-philips-illustrsecond {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-philips-mail {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-philips-openmail {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
