	<label for="addresse" class="content__body-form-label">Addresse *</label>
	<input type="text" id="addresse" name="addresse" class="content__body-form-addresse">

	<label for="telefonnummer" class="content__body-form-label">Telefonnummer *</label>
	<input type="text" id="telefonnummer" name="telefonnummer" class="content__body-form-telefonnummer">

	<label for="alder" class="content__body-form-label">Alder * <span>(dd/mm/yyyy)</span></label>
	<input type="text" id="alder" name="alder" class="content__body-form-alder">