.about 
	padding-bottom: 78px

.about__item
	background-color: #fff
	border-radius: 10px
	padding: 65px 65px 67px
	background-image: url("../img/about-bg.png")
	background-repeat: no-repeat
	background-position: 87% center
	text-align: center
	position: relative
	+r(768)
		background-image: none
		padding: 25px

.about__item-description
	width: 56%
	text-align: left
	+r(768)
		width: 100%

.logo-blue_about
	width: 380px
	height: 80px
	+r(768)
		margin: 0 auto
	+r(480)
		width: 100%

.about__item-list
	padding-left: 80px
	+clr
	+r(768)
		padding-left: 0px

.about__item-list-point
	font-size: 18px
	color: #2e2e2e
	float: left
	margin: 12px 0px
	line-height: 23px

.about__item-list-point svg
	float: left
	margin-right: 30px

.about__item-list-point_town svg
	font-size: 63px
	fill: $orange

.about__item-list-point_houses svg
	font-size: 56px
	fill: $orange

.about__item-btn
	display: inline-block
	background-color: #009cd9
	color: #fff
	text-decoration: none
	font-size: 18px
	font-weight: 700
	padding: 18px 51px
	border-radius: 10px
	position: absolute
	bottom: -30px
	left: 50%
	transform: translate(-50%)
	transition: all .5s
	box-shadow: 3px 3px 0px #155da9
	&:hover
		background-color: #7ec8e7
		color: #fff
	+r(768)
		position: static
		transform: translate(0%)
		padding: 10px 20px