.step-two
	background-color: #fff
	text-align: center
	padding: 120px 0px 58px
	display: none

.step-two__list
	margin-top: 31px
	text-align: left
	font-size: 0
	+clr
	+r(1420)
		padding: 0 15px
		text-align: justify
	+r(630)
		text-align: center

.step-two__box-image
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	height: 120px
	border-radius: 10px 10px 0px 0px

.step-two__box-name
	font-size: 14px
	color: #fff
	font-weight: 700
	margin-top: 12px
	padding: 0px 15px

.step-two__box-descr
	font-weight: 400
	font-size: 12px
	color: #fff
	padding: 0px 15px 23px

.step-two__box-more
	text-align: center
	font-weight: 400
	font-size: 12px
	color: #fff
	margin-bottom: 35px
	display: inline-block

.step-two__box-vote
	position: absolute
	bottom: -20px
	left: 50%
	transform: translate(-50%)
	background-color: $orange
	color: #fff
	font-size: 14px
	padding: 12px 24px
	border-radius: 5px
	transition: all .5s
	&:hover
		background-color: #fd5252
