.thankupage
	background-color: #145da9
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 999
	width: 100%
	height: 100%
	text-align: center
	display: none
	+r(1010)
		overflow-y: auto

	.thankupage__wrap
		position: absolute
		top: 50%
		left: 50%
		width: 1000px
		transform: translate(-50%, -50%)
		+r(1010)
			width: 100%
		+r(768)
			position: static
			transform: translate(0%)
			margin: 30px 0px

	.thankupage__title
		font-weight: 400
		color: #fff
		font-size: 34px
		span
			color: #f6ab49
		+r(768)
			padding: 0px 15px
	
	.thankupage__inner
		+clr
		+r(1010)
			padding: 0px 15px

		.info-box
		
			.logo-blue_thanku
				width: 300px
				height: 64px
				float: right
				position: relative
				left: 13px
				margin-bottom: 30px
				&::before
					content: 'блог'
					text-transform: uppercase
					font-weight: 700
					color: #145da9
					font-size: 20px
					position: absolute
					left: -21%
					top: -5px
					+r(992)
						left: 50px
						top: -12px
				+r(992)
					float: none
				+r(768)
					margin: 0 auto
					left: 0px
				+r(480)
					width: 100%
					background-position: center center

			.info-box__text
				display: inline-block
				color: #0c0c0c
				font-size: 20px
				font-weight: 400
				width: 79%
				+r(768)
					width: 100%

			.social_thankupage
				margin-top: 20px
				.social-icon:nth-child(2)
					margin: 0 10px

		.info-box_info
			padding: 55px 70px 55px 80px
			margin-right: 20px
			float: left
			&:hover
				background-color: #0081c4
			&:hover .logo-blue_thanku
				background-image: url("../img/head-logo.svg")
				&::before
					color: #fff		
			&:hover .info-box__text
				color: #fff
			+r(1010)
				margin-right: 0
			+r(480)
				padding: 20px

		.info-box_social
			padding: 35.5px
			margin-left: 20px
			margin-right: 0px
			float: right
			+r(1010)
				margin-left: 0
			+r(480)
				padding: 20px